<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
        </div>
    </div>
    <div>
        <div class="form-content-150">
            <div class="rowinput">
                <label>Khách hàng </label>
                <div>
                    <input focus-k-select kendo-multi-select k-options="mulCustomer_Options" k-ng-model="REPDIOrderItem.lstCustomerID" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="rowinput">
                <label>Hình thức v.chuyển </label>
                <div>
                    <input class="cus-combobox" kendo-combo-box k-options="cboTransportMode_Options" k-ng-model="REPDIOrderItem.TransportModeID" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="rowinput">
                <label>Từ ngày </label>
                <div>
                    <input class="cus-datepicker" focus-k-datepicker kendo-date-picker k-options="DateDMY" k-ng-model="REPDIOrderItem.DateFrom" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="rowinput">
                <label>Đến ngày </label>
                <div>
                    <input class="cus-datepicker" focus-k-datepicker kendo-date-picker k-options="DateDMY" k-ng-model="REPDIOrderItem.DateTo" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="rowinput">
                <label>Sản lượng còn lại </label>
                <div>
                    <input type="checkbox" ng-model="REPDIOrderItem.IsRemainning" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="rowinput rowaction">
                <a href="/" ng-click="ExportExcel_Click($event)" class="k-button active">Xem</a>
            </div>
        </div>
    </div>        
</div>