<div class="cus-form" style="height:100%">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right button">
            <a href="/" ng-click="SettingReport_AddClick($event,SettingReport_win,Setting_vform)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
            <a href="/" ng-show="SettingHasChoose" ng-click="settingReport_GridDestroy_Click($event,settingReport_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
            <a href="/" ng-click="ShowSetting($event,settingReport_Grid)" ng-mouseenter="ShowSetting($event,settingReport_Grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="settingReport_Grid" expand-k-grid k-options="settingReport_GridOptions"></div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="SettingReport_win" k-title="false" k-width="600" k-height="300" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thông tin thiết lập</div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-form" v-form="Setting_vform" scrolldiv>
                <div class="form-content-150">
                    <div class="rowinput">
                        <label>Tên thiết lập <span class="required">*</span></label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="SettingItem.Name" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>File template <span class="required">*</span></label>
                        <div>
                            <a href="/" ng-click="SettingReport_AddFileClick($event)" class="k-button " data-title="Thêm mới"><i class="fa fa-file"></i></a>
                            <span>{{SettingItem.FileName}}</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Loại Export </label>
                        <div>
                            <input class="cus-combobox" focus-k-combobox kendo-combo-box="cboTypeExport" k-options="cboTypeExport_options" ng-model="SettingItem.TypeExport" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="SettingReport_SaveClick($event,SettingReport_win,Setting_vform)" class="k-button accept" data-title="Lưu/Cập nhật">Lưu/Cập nhật</a>
                <a href="/" ng-show="SettingItem.ID>0" ng-click="SettingReport_Destroy_Click($event,SettingReport_win)" class="k-button" data-title="Xóa">Xóa</a>
                <a href="/" ng-click="window_Close_Click($event,SettingReport_win)" class="k-button close" data-title="Đóng">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="SettingDownload_win" k-title="false" k-width="400" k-height="200" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Chọn ngày</div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-form" scrolldiv>
                <div class="form-content-150" v-form="SettingDownload_vform">
                    <div class="rowinput">
                        <label>Ngày bắt đầu <span class="required">*</span></label>
                        <div>
                            <input class="cus-datepicker" focus-k-datepicker k-ng-model="ItemDownload.DateFrom" kendo-date-picker k-options="DateDMY" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Ngày kết thúc <span class="required">*</span></label>
                        <div>
                            <input class="cus-datepicker" focus-k-datepicker k-ng-model="ItemDownload.DateTo" kendo-date-picker k-options="DateDMY" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="SettingReport_ActionClickConfirm($event,SettingDownload_vform,SettingDownload_win)" class="k-button accept" data-title="Xóa">Xác nhận</a>
                <a href="/" ng-click="window_Close_Click($event,SettingDownload_win)" class="k-button close" data-title="Đóng">Đóng</a>
            </div>
        </div>
    </div>
</div>

<style>
    .cus-window.k-window-content .cus-form > .form-body.with-footer > .cus-form {
        height: calc(100% - 5px);
    }
</style>