
<!DOCTYPE html>

<html ng-app="myapp" ng-controller="indexController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TRANG QUẢN TRỊ</title>
    <link href="~/Content/fonts/font.css" rel="stylesheet" />
    <link href="~/Content/Admin/kendo/2016.2.607/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/kendo/2016.2.607/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/kendo/2016.2.607/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/kendo/2016.2.607/kendo.default.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/Admin/Css");
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
</head>
<body>
    <div class="page-top" ng-click="HideProfileClick()">
        <div class="header left">
            <div class="logo"><a ui-sref="main"><img alt="" src="Images/Icon_LogoV2.png" /></a></div>
            <div class="buttonmenu"><a ng-click="MenuClick($event)" href="/"><i class="fa fa-bars"></i></a></div>
            <a href="/" ng-click="QuickAddItem.Call($event)" class="common-action">
                <i class="fa fa-plus"></i>
            </a>            
            <div class="clear"></div>
        </div>
        <div class="header right">
            <div class="info">
                <ul>                    
                    <li>
                        <a href="/" ng-click="ShowProfileClick($event)">
                            <span>Admin</span>
                            <img src="Images/ico_avatar.png" alt="" />
                        </a>
                        <ul ng-show="Default_ShowProfile">
                            <li>
                                <a ui-sref="profile">
                                    <span>Thông tin tài khoản</span>
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" ng-click="Logout($event)">
                                    <span>Đăng xuất</span>
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="page-body">
        <div class="mainform ">
            <div class="mainmenu">
                <div class="container" scrolldiv>
                    <div class="visible">
                        <div class="parent">
                            <div class="title">
                                <span>Tổng quan</span>
                            </div>
                            <div class="child active">
                                <div class="title"><a href="#"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></div>                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parent">
                            <div class="title">
                                <span>Vận hành</span>
                            </div>
                            <div class="child">
                                <div class="title"><a href="#"><i class="fa fa-clipboard"></i><span>Sản phẩm</span></a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="child">
                                <div class="title"><a href="#"><i class="fa fa-sliders"></i><span>Danh mục</span></a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="child">
                                <div class="title"><a href="#"><i class="fa fa-file-text-o"></i><span>Đơn hàng</span></a></div>
                                <div class="clear"></div>
                            </div>                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="mainbody">
                <div class="mainview">
                    @RenderBody()
                </div>                
            </div>
        </div>        
    </div>
    <span id="page-notification" kendo-notification="msg" k-options="msgOptions"></span>
    <!--Scripts-->
    <script src="/Scripts/Admin/angular.min.js"></script>
    <script src="/Scripts/Admin/angular-route.js"></script>
    <script src="/Scripts/Admin/kendo/2016.2.607/kendo.all.min.js"></script>
    <script src="/Scripts/Admin/kendo/2016.2.607/kendo.aspnetmvc.min.js"></script>
    <script src="/Scripts/Admin/kendo/2016.2.607/jszip.min.js"></script>

    <script src="/Scripts/Admin/Chart.min.js"></script>    

    <!--App-->
    <script src="~/Scripts/Admin/Controller/App.js"></script>
    @Scripts.Render("~/bundles/app");
</body>
</html>
