<div class="view-breakumb-content">
    <div class="cus-form" style="height:100%">
        <div class="form-header">
            <div class="left">
                <ul class="breakumb">
                    <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
                </ul>
            </div>
            <div class="right button">
                <a href="/" ng-click="AddNew_Click($event)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
                <a href="/" ng-click="ShowSetting($event,setting_grid)" ng-mouseenter="ShowSetting($event,setting_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="form-body">
            <div kendo-grid="setting_grid" expand-k-grid k-options="setting_gridOptions" class="cus-grid"></div>
        </div>
    </div>
</div>