<div class="loginform">
    <form action="#" ng-submit='eventLogin($event)'>
        <div class="border">
            <div class="row">
                <input type="text" class="txt" ng-model="login_Username" placeholder="&#61447;&#09;Tài khoản *" />
            </div>
            <div class="row">
                <input type="password" class="txt" ng-model="login_Password" placeholder="&#61475;&#09;Mật khẩu *" />
            </div>
            <div class="row">
                <input type="submit" value="&#61452;&nbsp;&nbsp;Đăng nhập" />
            </div>
        </div>        
    </form>
</div>