<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right"></div>
    </div>
    <div class="form-body">
        <div style="position:relative;height:100%">
            <div class="cus-tabstrip" kendo-tab-strip="FLMAsset_Tab" k-options="FLMAsset_TabOptions" expand-k-tabstrip>
                <ul>
                    <li data-tabindex="1" id="tab_truck" class="k-state-active">Xe tải</li>
                    <li data-tabindex="2" id="tab_tractor">Đầu kéo</li>
                    <li data-tabindex="3" id="tab_romooc">Romooc</li>
                    <li data-tabindex="4" id="tab_cont">Container</li>
                    <!--li id="tab_eqm">Thiết bị</!--li-->
                </ul>
                <div>
                    <div class="cus-grid" kendo-grid="FLMAsset_TruckGrid" expand-k-grid k-options="FLMAsset_TruckGrid_Options"></div>
                </div>
                <div>
                    <div class="cus-grid" kendo-grid="FLMAsset_TractorGrid" expand-k-grid k-options="FLMAsset_TractorGrid_Options"></div>
                </div>
                <div>
                    <div class="cus-grid" kendo-grid="FLMAsset_RomoocGrid" expand-k-grid k-options="FLMAsset_RomoocGrid_Options"></div>
                </div>
                <div>
                    <div class="cus-grid" kendo-grid="FLMAsset_ContGrid" expand-k-grid k-options="FLMAsset_ContGrid_Options"></div>
                </div>
                <div>
                    <div class="cus-grid" kendo-grid="FLMAsset_EQMGrid" expand-k-grid k-options="FLMAsset_EQMGrid_Options"></div>
                </div>
            </div>
            <div class="tabstrip-buttons">
                <a href="/" ng-click="FLMAsset_Truck_ExcelOnlClick($event,FLMAsset_TruckGrid)" ng-show="TabIndex==1" class="k-button"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
                <a href="/" ng-click="FLMAsset_Tractor_ExcelOnlClick($event,FLMAsset_TractorGrid)" ng-show="TabIndex==2" class="k-button"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
                <a href="/" ng-click="FLMAsset_Romooc_ExcelOnlClick($event,FLMAsset_RomoocGrid)" ng-show="TabIndex==3" class="k-button"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
                <a href="/" ng-click="FLMAsset_Tractor_defaultRomoocClick($event,defaultRomooc_win,defaultRomooc_Grid)" ng-show="TabIndex==2" class="k-button"><i class="fa fa-cogs"></i><span class="tooltip">Gợi ý romooc</span></a>
                <!--<a href="/" ng-click="FLMAsset_Excel_Click($event,winexcel,FLMAsset_Tab)" ng-show="FLMAsset_ShowBtnExcel" class="k-button"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>-->
                <a href="/" ng-click="FLMAsset_AddNew_Click($event,FLMAsset_Tab)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
                <a href="/" ng-click="ShowSetting($event,order_grid)" ng-mouseenter="ShowSetting($event,order_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="defaultRomooc_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Danh sách gợi ý romooc</div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" expand-k-grid kendo-grid="defaultRomooc_Grid" k-options="defaultRomooc_GridOPtions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="defaultRomooc_ExcelClick($event,defaultRomooc_Grid)" class="k-button accept">Excel</a>
                <a href="/" ng-click="defaultRomooc_AddClick($event,NewdefaultRomooc_win)" class="k-button accept">Thêm mới</a>
                <a href="/" ng-click="Close_Click($event,defaultRomooc_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="NewdefaultRomooc_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thêm mới/chỉnh sửa gợi ý romooc</div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="form-content-150" v-form="NewdefaultRomooc_win_vfrom">
                <div class="rowinput">
                    <label>Đầu kéo <span class="required">*</span></label>
                    <div>
                        <input class="cus-combobox" kendo-combo-box="cboTractor" k-options="cboTractor_Options" k-ng-model="Item.VehicleID" v-form-require="true" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>Romooc <span class="required">*</span></label>
                    <div>
                        <input class="cus-combobox" kendo-combo-box="cboRomooc" k-options="cboRomooc_Options" k-ng-model="Item.RomoocID" v-form-require="true" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>Độ ưu tiên <span class="required">*</span></label>
                    <div>
                        <input class="cus-number" kendo-numeric-text-box k-options="numSortOrder_options" k-ng-model="Item.SortOrder" style="width:100%" v-form-require="true" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="NewdefaultRomooc_win_SaveClick($event,NewdefaultRomooc_win,NewdefaultRomooc_win_vfrom,defaultRomooc_Grid)" class="k-button accept">Luu</a>
                <a href="/" ng-click="Close_Click($event,NewdefaultRomooc_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>