<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <div>
                <input class="cus-combobox" focus-k-combobox kendo-combo-box="cboTypeWarning_cboGroup" ng-model="TypeWarningID" k-options="cboTypeWarning_Options" />
            </div>
            <a href="/" ng-click="Search_Click($event)" class="k-button"><i class="fa fa-search"></i><span class="tooltip is-right">Tìm kiếm</span></a>
            <a class="k-button" ng-click="ExcelOn_Click($event)"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
            <a href="/" ng-click="Save_Click($event,FLMAssetWarning_Grid)" class="k-button"><i class="fa fa-check"></i><span class="tooltip">Lưu</span></a>
            <a href="/" ng-click="Add_Click($event,TypeWarning_Win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" expand-k-grid kendo-grid="FLMAssetWarning_Grid" k-options="FLMAssetWarning_GridOptions"></div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="TypeWarning_Win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Danh sách cảnh báo</div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" expand-k-grid kendo-grid="FLMAssetWarning_NotIn_Grid" k-options="FLMAssetWarning_NotIn_GridOPtions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-show="HasChoose" ng-click="TypeWarning_AddNotInClick($event,FLMAssetWarning_NotIn_Grid, TypeWarning_Win)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="Close_Click($event,TypeWarning_Win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

