
@{
    ViewBag.Title = "DANH MỤC";
}

<div class="row">
    <ol class="breadcrumb" style="font-size:16px;color:black">
        <li><a href="/Pn"><i class="fa fa-home"></i></a></li>
        <li class="active">Danh mục</li>
    </ol>
</div>
<!--Grid-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default cus-grid" style="border:none;margin-top:5px">
            <div class="panel-body">
                <div expand-k-grid class="cus-grid" kendo-grid="Cat_Grid" k-options="Cat_gridOptions"></div>
            </div>
        </div>
    </div>
</div><!--/.Grid-->
<!--toolbar-->
<script type="text/x-kendo-template" id="CatGridTemplate">
    <div class="gridtoolbar">
        <div class="toolbar-left" style="float:left;">
            <a class="k-button k-button-icontext k-grid-excel" style="font-size:20px;color:black;font-weight:bold;border:none" href="\#"><span class="fa fa-file-excel-o"></span></a>
            <a ng-click="CAT_WinClick($event,0)" class="k-button k-button-icontext" style="font-size:20px;color:black;font-weight:bold;border:none" href="\#"><span class="fa fa-plus"><span class="tooltip">Thêm mới</span></span></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="statusTpl">
    <a href="\\#" ng-click="ChangeStatus($event,#=id#)">#=status?'<span class="btn_success">Kích hoạt</span>':'<span class="btn_block"><i class="fa fa-lock"></i> Khóa</span>'#</a>
</script>

<script type="text/x-kendo-template" id="ShowhomeTpl">
    <a href="\\#" ng-click="ChangeShowhome($event,#=id#)">#=showOnHome?'<span class="btn_success">Hiện</span>':'<span class="btn_info"><i class="fa fa-ban"></i> Ẩn</span>'#</a>
</script>

<!--win-->
<div class="modal" modal-show modal-visible="showModal_Cat" role="dialog" data-refresh="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin danh mục</h4>
            </div>
            <div class="modal-body cus-window">
                <div class="cus-form">
                    <div class="form-body">
                        <form action="/" method="post">
                            <div class="form-content-100" v-form="vform_Cat">
                                <input type="hidden" ng-model="Item.ID" value="{{Item.ID}}" />                                
                                <div class="rowinput">
                                    <label>Tên danh mục<span class="required">*</span> </label>
                                    <div>
                                        <input type="text" class="k-textbox" maxlength="100" ng-model="Item.name" v-form-require="true" v-form-length="100" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                               
                                <div class="rowinput">    
                                    <label>Thuộc</label>
                                    <div>
                                        <input class="cus-combobox" kendo-drop-down-list="drdpl_Cat" ng-model="Item.parentID" k-options="Cate_Options" style="width: 100%" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>                               
                               
                                <div class="rowinput">
                                    <label>metaKeywords</label>
                                    <div>
                                        <input type="text" class="k-textbox" maxlength="250" ng-model="Item.metaKeywords" v-form-length="250" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>metaDescription</label>
                                    <div>
                                        <textarea rows="4" maxlength="250" v-form-length="250" style="width:100%" ng-model="Item.metaDescription"></textarea>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/" ng-click="CAT_SaveClick($event,vform_Cat)" class="btn btn-success btn-save" data-title="Lưu">Lưu</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

