
@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<div class="row">
    <ol class="breadcrumb" style="font-size:16px;color:black">
        <li><a href="/Pn"><i class="fa fa-home"></i></a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</div>


