<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="CATCost_AddNew_Click($event,CATCost_win)" class="k-button" data-title="Tạo mới"><i class="fa fa-plus"></i><span class="tooltip">Tạo mới</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
            <a href="/" ng-click="ShowSetting($event,CATCost_grid)" ng-mouseenter="ShowSetting($event,CATCost_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="CATCost_grid" expand-k-grid="CATCost_grid" k-options="CATCost_gridOptions"></div>
    </div>
</div>
<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="CATCost_win" k-title="false" k-width="600" k-height="300" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Nhóm chi phí</div>
            <div class="right button">
            </div>
        </div>
        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="CATCost_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATCostItem.Code" ng-disabled="CATCostItem.IsSystemCost" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATCostItem.CostName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Định khoản </label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATCostItem.AccountNo" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Nhóm chi phí <span class="required">*</span></label>
                        <div>
                            <input class="cus-combobox" focus-k-combobox kendo-combo-box k-options="CATCost_cboGroup_Options" ng-disabled="CATCostItem.IsSystemCost" ng-model="CATCostItem.GroupOfCostID" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Loại chi phí <span class="required">*</span></label>
                        <div>
                            <input class="cus-combobox" focus-k-combobox kendo-combo-box k-options="CATCost_cboType_Options" ng-show="!CATCostItem.IsSystemCost" ng-disabled="IsEdit" ng-model="CATCostItem.TypeOfCostID" />
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATCostItem.TypeOfCostName" ng-disabled="true" ng-show="CATCostItem.IsSystemCost&&IsEdit" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATCost_win_SaveClick($event,CATCost_win,CATCost_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="CATCost_win_CloseClick($event,CATCost_win)" class="k-button close" data-title="Đóng">Đóng</a>
            </div>
        </div>
    </div>
</div>

