<script id="CATDriver_grid_toolbar" type="text/x-kendo-template">
    <div class="gridtoolbar">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="CATDriver_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
            <a href="/" ng-click="CATDriverAddNew_Click($event,CATDriver_winPopup)" class="k-button" data-title="Thêm mới"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
            <a href="/" ng-click="ShowSetting($event,CATDriver_grid)" ng-mouseenter="ShowSetting($event,CATDriver_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
</script>
<div class="cus-grid" kendo-grid="CATDriver_grid" expand-k-grid="CATDriver_grid" k-options="CATDriver_gridOptions"></div>
<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="CATDriver_winPopup" k-title="false" k-width="600" k-height="400" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Thông tin tài xế
            </div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="sysfunction_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="DriverItem.Code" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Họ <span class="required">*</span></label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.LastName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên <span class="required">*</span></label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.FirstName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>CMND</label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.CardNumber"/>
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                     <div class="rowinput">
                        <label>Ngày sinh </label>
                        <div>
                            <input class="cus-datepicker" kendo-date-picker focus-k-datepicker k-options="DateDMY" k-ng-model="DriverItem.Birthday" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Điện thoại </label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.Cellphone"  />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Giấy phép lái xe số </label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.ListDrivingLicence" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Ghi chú </label>
                        <div>
                            <input class="k-textbox" type="text" ng-model="DriverItem.Note"/>
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATDriverSave_Click($event,CATDriver_winPopup,sysfunction_win_vform)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="Close_Click($event,CATDriver_winPopup)" class="k-button close" >Đóng</a>

            </div>
        </div>
    </div>
</div>

