<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="DrivingLicence_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
            <a href="/" ng-click="DrivingLicence_AddNew($event,DrivingLicence_win,DrivingLicence_vform)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
            <a href="/" ng-click="ShowSetting($event,contract_grid)" ng-mouseenter="ShowSetting($event,contract_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="DrivingLicence_grid" expand-k-grid="DrivingLicence_grid" k-options="DrivingLicence_gridOptions"></div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="DrivingLicence_win" k-title="false" k-width="600" k-height="350" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thông tin bằng lái</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="form-content-150" v-form="DrivingLicence_vform">
                <div class="rowinput">
                    <label>Mã bằng lái<span class="required">*</span></label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="Item.Code" v-form-length="50" v-form-require="true" />
                    </div>
                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>Loại bằng lái<span class="required">*</span></label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="Item.DrivingLicenceName" v-form-length="50" v-form-require="true" />
                    </div>
                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                    <div class="clear"></div>
                </div>

                <div class="rowinput">
                    <label>Trọng tải cho phép</label>
                    <div>
                        <input class="numFeeBase_options cus-number" kendo-numeric-text-box k-options="numFeeBase_options" ng-model="Item.VehicleWeight" style="width:100%" />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="rowinput">
                    <label>Loại xe</label>
                    <div>
                        <input class="cboVehicleOptions cus-combobox" focus-k-combobox kendo-combo-box="DrivingLicence_win_cboVehicle" ng-model="Item.TypeOfVehicleID" k-options="DrivingLicence_win_cboVehicleOptions" />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="rowinput">
                    <label>Mô tả </label>
                    <div>
                        <textarea rows="4" style="width:calc(100% - 7px)" ng-model="Item.Description"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="DrivingLicence_Save_Click($event,DrivingLicence_win,DrivingLicence_vform)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="Win_Close($event,DrivingLicence_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>