<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="CATGroupOfService_AddNew_Click($event,CATGroupOfService_win)" class="k-button" data-title="Tạo mới"><i class="fa fa-plus"></i><span class="tooltip">Tạo mới</span></a>
            <a href="/" ng-click="ShowSetting($event,CATGroupOfService_grid)" ng-mouseenter="ShowSetting($event,CATGroupOfService_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="CATGroupOfService_grid" expand-k-grid k-options="CATGroupOfService_gridOptions"></div>
    </div>
</div>

<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="CATGroupOfService_win" k-title="false" k-width="600" k-height="200" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thêm mới/Chỉnh sửa nhóm dịch vụ</div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="CATGroupOfService_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATGroupOfServiceItem.Code" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Nhóm dịch vụ <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATGroupOfServiceItem.GroupOfService" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATGroupOfService_win_SaveClick($event,CATGroupOfService_win,CATGroupOfService_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="CATGroupOfService_win_CloseClick($event,CATGroupOfService_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>

