<script id="reason_grid_toolbar" type="text/x-kendo-template">
    <div class="gridtoolbar">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="CATReason_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
            <a href="/" ng-click="AddNew_Click($event,win)" class="k-button" data-title="Thêm mới"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
            <a href="/" ng-click="ShowSetting($event,reason_grid)" ng-mouseenter="ShowSetting($event,reason_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
</script>
<div class="cus-grid" kendo-grid="reason_grid" expand-k-grid="reason_grid" k-options="reason_gridOptions"></div>
<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="win" k-title="false" k-width="600" k-height="180" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                THÔNG TIN LÝ DO
            </div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="vform">
                    <div class="rowinput">
                        <label>Lý do <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="Item.ReasonName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Loại lý do <span class="required">*</span></label>
                        <div>
                            <input class="cus-combobox" focus-k-combobox ng-model="Item.TypeOfReasonID" kendo-combobox="cboType" k-options="cboTypeOptions" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Save_Click($event,win,vform)" ng-show="Item.ReasonName.length > 0 && Item.TypeOfReasonID > 0" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="Close_Click($event,win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>

