
    <div class="cus-form">
        <div class="form-header">
            <div class="left">
                <ul class="breakumb">
                    <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
                </ul>
            </div>
            <div class="right">
                <a href="/" ng-click="CATScale_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
                <a href="/" ng-click="CATScale_AddNew_Click($event,CATScale_win)" class="k-button" data-title="Tạo mới"><i class="fa fa-plus"></i><span class="tooltip">Tạo mới</span></a>
                <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
                <a href="/" ng-click="ShowSetting($event,CATScale_grid)" ng-mouseenter="ShowSetting($event,CATScale_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="form-body">
            <div class="cus-grid" kendo-grid="CATScale_grid" expand-k-grid="CATScale_grid" k-options="CATScale_gridOptions"></div>
        </div>
    </div>

<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="CATScale_win" k-title="false" k-width="600" k-height="400" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Loại nhà phân phối</div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="CATScale_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATScaleItem.Code" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên ca <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATScaleItem.ScaleName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATScale_win_SaveClick($event,CATScale_win,CATScale_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="CATScale_win_CloseClick($event,CATScale_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>

