
    <div class="cus-form">
        <div class="form-header">
            <div class="left">
                <ul class="breakumb">
                    <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
                </ul>
            </div>
            <div class="right">
                <a href="/" ng-click="CATShift_AddNew_Click($event,CATShift_win)" class="k-button" data-title="Tạo mới"><i class="fa fa-plus"></i><span class="tooltip">Tạo mới</span></a>
                <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
                <a href="/" ng-click="ShowSetting($event,CATShift_grid)" ng-mouseenter="ShowSetting($event,CATShift_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="form-body">
            <div class="cus-grid" kendo-grid="CATShift_grid" expand-k-grid="CATShift_grid" k-options="CATShift_gridOptions"></div>
        </div>
    </div>

<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="CATShift_win" k-title="false" k-width="600" k-height="400" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Loại nhà phân phối</div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="CATShift_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATShiftItem.Code" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên ca <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="CATShiftItem.ShiftName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Thời gian bắt đầu <span class="required">*</span></label>
                        <div>
                            <input class="cus-datepicker" focus-k-timepicker kendo-time-picker k-options="DateHM" k-ng-model="CATShiftItem.TimeFrom" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Thời gian kết thúc <span class="required">*</span></label>
                        <div>
                            <input class="cus-datepicker" focus-k-timepicker kendo-time-picker k-options="DateHM" k-ng-model="CATShiftItem.TimeTo" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Số giờ <span class="required">*</span></label>
                        <div>
                            <input class="cus-number" kendo-numeric-text-box k-options="CATShift_numHour_Options" ng-model="CATShiftItem.Hour" v-form-require="true" style="width:100%" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATShift_win_SaveClick($event,CATShift_win,CATShift_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="CATShift_win_CloseClick($event,CATShift_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>

