<script id="CATTypeOfPriceDIEx_grid_toolbar" type="text/x-kendo-template">
    <div class="gridtoolbar">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="CATTypeOfPriceDIEx_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">excel</span></a>
            <a href="/" ng-click="CATTypeOfPriceDIExAddNew_Click($event,CATTypeOfPriceDIEx_win,CATTypeOfPriceDIEx_win_form)" class="k-button" data-title="Thêm mới"><i class="fa fa-plus"></i><span class="tooltip">Thêm mới</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
        </div>
    </div>
</script>
<div class="cus-grid" kendo-grid="CATTypeOfPriceDIEx_grid" expand-k-grid="CATTypeOfPriceDIEx_grid" k-options="CATTypeOfPriceDIEx_gridOptions"></div>
<!--popup-->

<!-- Kiểm tra ký tự đặc biệt -->
<script>
    $(function () {
        $('#Chargeter').keyup(function () {
            var flag = $(this).val();
            re = /[`~!@#$%^&*()_|+\-=?;: '",.<>\{\}\[\]\\\/]/gi;
            var isSplChar = re.test(flag);
            if (isSplChar) {
                var no_spl_char = flag.replace(/[`~!@#$%^&*()_|+\-=?;: '",.<>\{\}\[\]\\\/]/gi, '');
                $(this).val(no_spl_char);
            }
        });
    });
</script>

<!---->
<div class="cus-window" draggable-k-window kendo-window="CATTypeOfPriceDIEx_win" k-title="false" k-width="500" k-height="250" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Phụ thu
            </div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="CATTypeOfPriceDIEx_win_form">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="Item.Code" v-form-require="true" v-form-length="50" id="Chargeter" value="" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="Item.TypeName" v-form-require="true" v-form-length="500" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="CATTypeOfPriceDIEx_win_SaveClick($event,CATTypeOfPriceDIEx_win,CATTypeOfPriceDIEx_win_form)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="CATTypeOfPriceDIEx_win_CloseClick($event,CATTypeOfPriceDIEx_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>


