<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="FLMSupplier_Excel_Click($event)" class="k-button" data-title="Excel"><i class="fa fa-file-excel-o"></i><span class="tooltip">Excel</span></a>
            <a href="/" ng-click="FLMSupplier_AddNew_Click($event,FLMSupplier_win, form)" class="k-button" data-title="Tạo mới"><span class="tooltip">Tạo mới</span><i class="fa fa-plus"></i></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-undo"></i><span class="tooltip is-right">Quay lại</span></a>
            <a href="/" ng-click="ShowSetting($event,FLMSupplier_grid)" ng-mouseenter="ShowSetting($event,FLMSupplier_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="FLMSupplier_grid" expand-k-grid="FLMSupplier_grid" k-options="FLMSupplier_gridOptions"></div>
    </div>
</div>

<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="FLMSupplier_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Nhà phân phối
            </div>

        </div>
        <div class="form-body with-footer">
            <div style="position:relative;height:100%">
                <div class="cus-tabstrip" kendo-tabstrip="supplier_tabstrip" k-options="supplier_tabstripOptions" expand-k-tabstrip>
                    <ul>
                        <li data-tabindex="0" class="k-state-active">Thông tin chung</li>
                        <li data-tabindex="1" ng-show="SupplierItem.ID>0">Bảng giá vật tư</li>
                    </ul>

                    <div>
                        <div class="cus-form" v-form="FLMSupplier_win_vform" scrolldiv>
                            <div class="form-content-150">
                                <div class="rowinput">
                                    <label>Mã nhà phân phối <span class="required">*</span></label>
                                    <div>
                                        <input type="text" class="k-textbox" maxlength="50" ng-model="SupplierItem.Code" v-form-require="true" v-form-length="50" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Tên nhà phân phối <span class="required">*</span></label>
                                    <div>
                                        <input type="text" class="k-textbox" maxlength="50" ng-model="SupplierItem.SupplierName" v-form-require="true" v-form-length="50" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Địa chỉ </label>
                                    <div>
                                        <input type="text" class="k-textbox" ng-model="SupplierItem.Address" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Quốc gia </label>
                                    <div>
                                        <input class="cus-combobox" focus-k-combobox kendo-combo-box="Station_cboCountry" k-options="Station_cboCountryOptions" ng-model="SupplierItem.CountryID" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Tỉnh thành </label>
                                    <div>
                                        <input class="cus-combobox" focus-k-combobox kendo-combo-box="Station_cboProvince" k-options="Station_cboProvinceOptions" ng-model="SupplierItem.ProvinceID" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Quận huyện </label>
                                    <div>
                                        <input class="cus-combobox" focus-k-combobox kendo-combo-box="Station_cboDistrict" k-options="Station_cboDistrictOptions" ng-model="SupplierItem.DistrictID" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Xã phường </label>
                                    <div>
                                        <input class="cus-combobox" focus-k-combobox kendo-combo-box="Station_cboWard" k-options="Station_cboWardOptions" ng-model="SupplierItem.WardID" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>SĐT </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.TelNo" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Fax </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.Fax" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Email </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.Email" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Tên thanh toán </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.BillingName" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Địa chỉ thanh toán </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.BillingAddress" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Mã Tax </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.TaxCode" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Ghi chú </label>
                                    <div>
                                        <input class="k-textbox" type="text" ng-model="SupplierItem.Note" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-grid" kendo-grid="materialPrice_Grid" expand-k-grid k-options="materialPrice_GridOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-show="TabIndex==0" ng-click="FLMSupplier_win_SaveClick($event,FLMSupplier_win,FLMSupplier_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                
                <a href="/" ng-show="TabIndex==1" ng-click="MaterialPrice_AddNew_Click($event,MaterialPrice_EditWin,MaterialPrice_win_vform)" class="k-button accept" data-title="Lưu">Thêm mới</a>
                <a href="/" ng-click="FLMSupplier_win_CloseClick($event,FLMSupplier_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>

    </div>
</div>

<!--popup-->
<div class="cus-window" draggable-k-window kendo-window="MaterialPrice_EditWin" k-title="false" k-width="500" k-height="300" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Bảng giá vật tư
            </div>

        </div>
        <div class="form-body with-footer">
            <div class="cus-form" v-form="MaterialPrice_win_vform" scrolldiv>
                <div class="form-content-150">
                    <div class="rowinput">
                        <label>Vật tư <span class="required">*</span></label>
                        <div>
                            <input class="cus-combobox" kendo-combo-box k-options="cboMaterial_options" ng-model="MaterialPriceItem.MaterialID" focus-k-combobox ng-disabled="MaterialPriceItem.ID>0" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Giá <span class="required">*</span></label>
                        <div>
                            <input class="cus-number" kendo-numeric-text-box k-options="numPrice_options" ng-model="MaterialPriceItem.Price" v-form-require="true" style="width:100%" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Ngày hiệu lực <span class="required">*</span></label>
                        <div>
                            <input class="cus-datepicker" focus-k-datepicker kendo-date-picker k-options="DateDMY" k-ng-model="MaterialPriceItem.EffectDate" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="MaterialPrice_win_SaveClick($event,MaterialPrice_EditWin,MaterialPrice_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="FLMSupplier_win_CloseClick($event,MaterialPrice_EditWin)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>

    </div>
</div>