<div class="cus-grid" kendo-grid="WFLSetting_Template_grid" k-options="WFLSetting_Template_gridOptions" expand-k-grid></div>

<div class="cus-window" draggable-k-window kendo-window="WFLSetting_Template_win" k-title="false" k-width="800" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thiết lập nội dung</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-tabstrip" expand-k-tabstrip kendo-tab-strip k-content-urls="[null, null, null]" k-options="WFLSetting_Template_win_tabOptions">
                <ul>
                    <li class="k-state-active" title="Thông tin">Thông tin</li>
                    <li title="Nội dung">Nội dung</li>
                    <li title="Nội dung chi tiết">Nội dung chi tiết</li>
                </ul>
                <div>
                    <form action="/" method="post" ng-submit="Save_Click($event,WFLSetting_Template_win,WFLSetting_Template_grid,WFLSetting_Template_win_vform)">
                        <div class="WFLSetting_Form" v-form="WFLSetting_Template_win_vform">
                            <div class="form-content-150">
                                <div class="rowinput">
                                    <label>Mã <span class="required">*</span></label>
                                    <div>
                                        <input type="text" class="k-textbox" ng-model="Item.Code" v-form-require="true" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Tên <span class="required">*</span></label>
                                    <div>
                                        <input type="text" class="k-textbox" ng-model="Item.Name" v-form-require="true" />
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Tiêu đề</label>
                                    <div>
                                        <input type="text" class="k-textbox" ng-model="Item.Subject"/>
                                    </div>
                                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="rowinput">
                                    <label>Upload file </label>
                                    <div>
                                        <a href="/" ng-click="Setting_AddFileClick($event)" class="k-button " data-title="Thêm mới"><i class="fa fa-file"></i></a>
                                        <span>{{Item.FileName}}</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden"><input type="submit" /></div>
                    </form>
                </div>
                <div>
                    <textarea class="k-textbox" ng-model="Item.Template" style="height: 300px;width:100%" />
                    <div class="form-footer view-html">
                        <div>
                            <a href="/" ng-click="ViewHTML_Click($event,WFLSetting_ViewHTML_win)" class="k-button close">Xem</a>
                        </div>
                    </div>
                </div>
                <div>
                    <textarea class="k-textbox" ng-model="Item.TemplateDetail" style="height: 300px;width:100%" />
                    <div class="form-footer viewdetail-html">
                        <div>
                            <a href="/" ng-click="ViewHTMLDetail_Click($event,WFLSetting_ViewHTMLDetail_win)" class="k-button close">Xem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Save_Click($event,WFLSetting_Template_win,WFLSetting_Template_grid,WFLSetting_Template_win_vform)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="Close_Click($event,WFLSetting_Template_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="WFLSetting_ViewHTML_win" k-title="false" k-width="800" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Nội dung Template HTML
            </div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div id="content_template" class="content-html">

            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Close_Click($event,WFLSetting_ViewHTML_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="WFLSetting_ViewHTMLDetail_win" k-title="false" k-width="800" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Nội dung TemplateDetail HTML
            </div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div id="content_templatedetail" class="contentdetail-html">

            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Close_Click($event,WFLSetting_ViewHTMLDetail_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="WFLSetting_Template_gridToolbar">
    <div class="gridtoolbar">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-show="HasChoose" ng-click="Del_Click($event,WFLSetting_Template_grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip">Xóa</span></a>
            <a href="/" ng-click="Add_Click($event,WFLSetting_Template_win,WFLSetting_Template_win_vform)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm</span></a>
            <a href="/" ng-click="ShowSetting($event,WFLSetting_Template_grid)" ng-mouseenter="ShowSetting($event,WFLSetting_Template_grid)" ng-mouseleave="HideSetting($event)" class="k-button setting" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a> 
        </div>
        <div class="clear"></div>
    </div>
</script>
<style>
    .content-html {
        padding: 10px;
    }
    .contentdetail-html {
        padding: 10px;
    }
    .view-html{
        border:none !important;
    }
        .view-html > div {
            text-align: center !important;
        }

        .viewdetail-html{
        border:none !important;
    }
        .viewdetail-html > div {
            text-align: center !important;
        }
</style>