<ion-view hide-nav-bar="true">
    <ion-content class="" scroll="false">
        <div class="bar bar-header bar-calm">
            <button class="button button-clear" ng-click="BackTo()"><img src="img/back.png" /></button>
            <h1 class="title">Danh sách SO</h1>
            <button ng-show="selectedTab==2 && ShowReturnDetail==false" class="button button-clear" ng-click="ReturnAdd()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        <div style="height:100%;" class="content has-header">
            <ion-scroll style="height:100vh">
                <ion-list>
                    <ion-item ng-repeat="item in SOList" class="nopadding">
                        <div class="cus-table" style="padding:10px 10px 5px 5px;line-height:10px;font-size:13px;color:#41484b;">
                            <div style="width:50%">Mã SO:{{item.SOCode}}</div>
                            <div style="width:25%">Tấn:{{item.Ton}}</div>
                            <div style="width:25%">Khối:{{item.CBM}}</div>
                        </div>
                        <ion-scroll direction="x" class="item wide-item" style="border:none;padding-bottom: 5px;">
                            <div class="slide-img">
                                <div ng-click="BtnUpload(item)" style="background-color: grey;overflow: hidden;display:inline-block;">
                                    <img style="display:table-cell;margin: 20px 0px 0px 15px;" src="img/icam.png" />
                                </div>
                                <div ng-repeat="p in item.lstFile">
                                    <img class="miniphoto" ng-click="showImages($index,item.lstFile)" src="{{Host}}/{{p.FilePath}}" alt="{{p.FileName}}" title="{{p.FileName}}" />
                                </div>
                            </div>
                        </ion-scroll>
                        <span style="font-size:12px;color:#8e9699;line-height: 10px;">&nbsp;&nbsp;Chụp hóa đơn chứng từ</span>
                        <div class="div-empty h10p"></div>
                    </ion-item>
                </ion-list>
                <div class="div-empty h110p"></div>
            </ion-scroll>
        </div>
        <input id='file' type="file" style="display: none;" onchange="angular.element(this).scope().filesChanged(this)" />       
    </ion-content>
</ion-view>
<script type="text/ng-template" id="tpl.html">
    <div class="select">
        <input ng-readonly="true" ng-click="toggleSelect()" class="cus-textbox" type='text' ng-model="DisplayText" placeholder="{{mPlaceholder}}" />
        <div class="cbb-popup" ng-show="isPopupVisible">
            <ion-scroll style="max-height:100px">
                <ion-item style="line-height: 0px;" ng-repeat="o in Data" ng-click="SelectItem(o)">
                    {{o.text}}
                </ion-item>
            </ion-scroll>
        </div>
    </div>
</script>
<style>
    .select { width: 100%; max-height: 300px; position: relative;}
    .cbb-popup { margin: 0; background: #fff; border: 1px solid #aaa; box-shadow: 0 4px 5px rgba(0,0,0,.15); z-index: 1010; width: 100%; padding: 0px; border-radius: 4px; margin-top: 1px; position: absolute; }

    .return-edit{position:absolute;width:100%;height:300px;bottom:-310px;z-index:100;-webkit-transition: bottom 0.5s;transition: bottom .5s;}
    .return-edit.show-info {bottom:0px;}
</style>