

/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}
body > .loading { text-align: center; height: 100%; width: 100%; background: #fff; position: absolute; z-index: 99999; top: 0; left: 0; opacity: 0.5; }
body > .loading > i { position: absolute; font-size: 50px; left: 50%; top: 50%; margin-left: -25px; margin-top: -25px; }

p {
	color: #777;
}
.clear { clear: both; font-size: 1px; }

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}
.btn-success {
    color: #fff;
    background-color: #31b6fc;
    border-color: #31b6fc;
}
.btn-success:hover {
    color: #fff;
    background-color: #31b6fc;
    border-color: #31b6fc;
}
.btn-success:focus {
    color: #fff;
    background-color: #31b6fc;
    border-color: #31b6fc;
}
.cus-grid{
    border: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 1px);
    height: 100%;
}
.toolbar-right{
    float:right; background-color:#f6fafe
}
a.event-button { position: relative; line-height: 18px; background: none; background-color: !important; border-radius: 0; color: #5a6877; font-size: 16px; margin: 0; padding: 5px 10px; text-align: center}
a.event-button:hover { color: #31b6fc; }
.event-button.btn-image{
    cursor:pointer;
}
img.product-img{
    width:35px;
    height:35px;
    border-radius:50%;
}
#imageList{
    margin:7px auto;
}
#imageList i{
    margin-right:9px;
}
#imageList div{
    margin-right:9px;
    margin-bottom:7px;
    float:left;
}
.clear{
    clear: both;
}
.btn {
    border-radius: 3px;
}
.btn_success{
    background: #26B99A;
    border: 1px solid #169F85;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    cursor:pointer;   
    color:#fff;
}
.btn_info{
    background: #ffb53e;
    border: 1px solid #ffb53e;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    cursor:pointer;   
    color:#fff;
}
.btn_block{
    background: #d43f3a;
    border: 1px solid #d43f3a;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    cursor:pointer;   
    color:#fff;
}

a.k-button > .tooltip { visibility: hidden; width: 80px; background-color: black; color: #fff; text-align: center; padding: 5px 5px; border-radius: 4px; top: 100%; left: -38px; position: absolute; z-index: 1; font-size: 13px; }
a.k-button > .tooltip::after { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent black transparent; }
a.k-button:hover > .tooltip { visibility: visible; opacity: 0.8; z-index: 999; }
a.k-button > .tooltip.is-right { left: -60px; }
a.k-button > .tooltip.is-right::after { left: 76px; }

.k-animation-container .k-list-container .k-item.k-state-selected {
    background: none;
    background-color: #31b6fc;
    color: #fff;
}

.k-animation-container .k-list-container .k-item {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0 3px;
    margin: 0;
}

.k-grid .k-header.k-grid-toolbar { padding: 0; margin: 0; border: none; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar { width: 100%; position: relative; height: 40px; background-color: #f6fafe; border-top: none; border-left: none; border-right: none; border-bottom: #d7e3f0 solid 1px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .left { float: left; display: inline-block; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .left > div:not(.title):not(.clear) { float: left; height: 26px; margin: 7px 2px; line-height: 26px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .left > span:not(.title) { float: left; height: 26px; margin: 7px 2px; line-height: 26px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .left > input { float: left; height: 28px; margin: 7px 2px; line-height: 28px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right { float: right; display: inline-block; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > div:not(.no-margin) { height: 26px; margin: 7px 2px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > span { height: 26px; margin: 7px 2px; line-height: 26px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > input { height: 28px; margin: 7px 2px; line-height: 28px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > label { height: 26px; margin: 7px 2px; line-height: 26px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > form { height: 26px; margin: 7px 2px; line-height: 26px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar .page-total { padding-left: 10px; color: #3d5977; font-size: 16px; line-height: 55px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar .page-total i { font-style: normal; color: #31b6fc; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button { position: relative; line-height: 18px; background: none; border-radius: 0; color: #5a6877; height: 40px; font-size: 18px; margin: 0; padding: 11px 0; text-align: center; border: none; min-width: 40px; }

.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > div,
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > span,
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > input,
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > label,
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > form,
.k-grid .k-header.k-grid-toolbar .gridtoolbar > .right > a { float: left; }

.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:hover { color: #31b6fc; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:not(.setting) > .tooltip { visibility: hidden; width: 100px; background-color: black; color: #fff; text-align: center; padding: 5px 5px; border-radius: 4px; top: 100%; left: -35px; position: absolute; z-index: 1; font-size: 13px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:not(.setting) > .tooltip::after { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent black transparent; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:not(.setting):hover > .tooltip { visibility: visible; opacity: 0.8; z-index: 999; }

.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:not(.setting) > .tooltip.is-right { left: -71px; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar a.k-button:not(.setting) > .tooltip.is-right::after { left: 91px; }

.k-grid .k-header.k-grid-toolbar .gridtoolbar > div .title { padding-left: 10px; color: #3d5977; font-size: 16px; line-height: 40px; font-weight: bold; }
.k-grid .k-header.k-grid-toolbar .gridtoolbar > div .text { padding-left: 10px; color: #3d5977; font-size: 14px; line-height: 40px; }

.k-grid .k-grid-header { border-top: none; border-left: none; border-right: none; border-bottom: #d7e3f0 solid 1px; }
.k-grid .k-grid-header > .k-grid-header-wrap { border: none; }
.k-grid .k-grid-header table thead tr { background: none; border: none; background-color: #fff; }
.k-grid .k-grid-header table thead tr:hover { background: none; background-color: #fff; }
.k-grid .k-grid-header table thead th.k-header { background: none; border-left: none; border-top: none; border-right: none; padding: 5px 5px 0px 5px; margin: 0; border-bottom: #d7e3f0 solid 1px; height: 30px; line-height: 30px; vertical-align: middle; color: #4d5e73; font-size: 13px; }
.k-grid .k-grid-header table thead th.k-header:first-child { position: relative; border-left: #fff solid 5px; }
.k-grid .k-grid-header table thead th.k-header:first-child > .action-grid { position: absolute; cursor: pointer; bottom: 0; left: 0; line-height: 10px; }
.k-grid .k-grid-header table thead th.k-header a.k-link { position: relative; color: #4d5e73; font-size: 13px; margin: 0; padding: 0; }
.k-grid .k-grid-header table thead th.k-header a.k-link > .k-icon { position: absolute; right: 0; }
.k-grid .k-grid-header .k-resize-handle { background-color: #d7e3f0; }

.k-grid .k-grouping-header { height: 30px; background: none; background-color: #f6fafe; border-top: none; border-left: none; border-right: none; border-bottom: #d7e3f0 solid 1px; color: #4d5e73; font-size: 13px; line-height: 30px; padding: 0 0 0 10px; }
.k-grid .k-grouping-header .k-group-indicator { margin: 0; border-radius: 0; height: 20px; padding: 5px 0 0 0; border-top: none; border-left: none; border-right: #d7e3f0 solid 1px; border-bottom: none; }
.k-grid .k-grouping-header .k-button .k-icon { margin: 0 0 0 3px; position: relative; top: -2px; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th { height: 22px; line-height: 22px; border: none; padding: 4px 5px; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th > span.k-filtercell { padding: 0; margin: 0; border: #d7e3f0 solid 1px; }
.k-grid .k-grid-header .k-grid-header-locked table thead tr.k-filter-row th { height: 22px; line-height: 22px; border: none; padding: 4px 5px; }
.k-grid .k-grid-header .k-grid-header-locked table thead tr.k-filter-row th > span.k-filtercell { padding: 0; margin: 0; border: #d7e3f0 solid 1px; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th span.k-operator-hidden { padding-right: 0; }
.k-grid .k-grid-header .k-grid-header-locked table thead tr.k-filter-row th span.k-operator-hidden { padding-right: 0; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row .k-button.k-button-icon { display: none; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row .k-widget.k-numerictextbox .k-select { display: none; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th input[type="text"] { height: 24px; line-height: 24px; color: #31b6fc; font-size: 12px; border: none; border-radius: 0; padding: 0; }
.k-grid .k-grid-header .k-grid-header-locked table thead tr.k-filter-row th input[type="text"] { height: 24px; line-height: 24px; color: #31b6fc; font-size: 12px; border: none; border-radius: 0; padding: 0; }


.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-filtercell > span { padding-right: 0; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-dropdown-operator { display: none; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-autocomplete { width: 100%; border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-autocomplete.k-state-focused { border: none; border-radius: 0; background-color: transparent; box-shadow: none; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-datepicker { border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-picker-wrap.k-state-default { background: none; border: none; border-radius: 0; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-picker-wrap.k-state-default.k-state-focused { border: none; border-radius: 0; background-color: transparent; box-shadow: none; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-picker-wrap.k-state-default span.k-select { border: none; padding-top: 0; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-combobox { border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-combobox > span { border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-combobox .k-state-focused { border: none; border-radius: 0; background-color: transparent; box-shadow: none; }

.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-numerictextbox { border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-numerictextbox > span { border: none; border-radius: 0; background-color: transparent; }
.k-grid .k-grid-header .k-grid-header-wrap table thead tr.k-filter-row th .k-widget.k-numerictextbox .k-state-focused { border: none; border-radius: 0; background-color: transparent; box-shadow: none; }

.k-grid .k-grid-header .k-grid-header-wrap table thead th a.k-button { background: #fff; border: none; }
.k-grid .k-grid-header .k-grid-header-wrap table thead th a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }

.k-grid .k-grid-content tbody > tr > td.k-detail-cell { height: auto; }
.k-grid .k-grid-content tbody > tr > td { white-space: nowrap; color: #3d5977; font-size: 13px; height: 32px; padding: 0px 5px 0px 5px; margin: 0; background-color: transparent; border-top: none; border-left: none; border-right: none; border-bottom: #d7e3f0 solid 1px; }
.k-grid .k-grid-content tbody > tr > td a.text { color: #3d5977; text-decoration: none; font-size: 13px; }
.k-grid .k-grid-content tbody > tr > td a { color: #5a6877; text-decoration: none; font-size: 13px; }
.k-grid .k-grid-content tbody > tr > td a:hover { color: #31B6FC; }
.k-grid .k-grid-content tbody > tr > td:first-child { border-left: #fff solid 5px; }
.k-grid .k-grid-content tbody > tr > td .k-widget > span > input.k-input { padding: .177em 0; }
.k-grid .k-grid-content tbody > tr:hover > td:first-child { border-left: #5bb7e5 solid 5px; }
.k-grid .k-grid-content tbody > tr.k-state-selected { background-color: transparent; }
.k-grid .k-grid-content tbody > tr.k-state-selected:not(.k-grouping-row):hover > td:first-child { border-left: #688391 solid 5px; }
.k-grid .k-grid-content tbody > tr.k-state-selected:not(.k-grouping-row) > td.k-detail-cell { height: auto; }
.k-grid .k-grid-content tbody > tr.k-state-selected:not(.k-grouping-row) > td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content tbody > tr.k-state-selected:not(.k-grouping-row) > td:first-child { border-left: #32b6fc solid 5px; }

.k-grid.k-grid-lockedcolumns .k-grid-content tbody > tr.k-state-selected td:first-child { border-left: #fff solid 5px; }

.k-grid .k-grid-content tbody > tr.k-alt { background-color: #f6fafe; }
.k-grid .k-grid-content tbody > tr.k-alt.k-state-selected { background-color: #f6fafe; }
.k-grid .k-grid-content tbody > tr:hover { background-color: transparent; }

.k-grid .k-grid-content tbody > tr:not(.k-grouping-row):not(.k-detail-row):hover > td.k-detail-cell { height: auto; }
.k-grid .k-grid-content tbody > tr:not(.k-grouping-row):not(.k-detail-row):not(.k-detail-row):hover > td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content tbody > tr:not(.k-grouping-row):not(.k-detail-row):hover > td:first-child { border-left: #fff solid 5px; }

.k-grid .k-grid-content tbody > tr.IsChoose > td.k-detail-cell { height: auto; }
.k-grid .k-grid-content tbody > tr.IsChoose > td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content tbody > tr.IsChoose > td:first-child { border-left: #32b6fc solid 5px; }
.k-grid .k-grid-content tbody > tr.IsChoose:not(.k-grouping-row):not(.k-detail-row):hover > td:first-child { border-left: #688391 solid 5px; }
.k-grid .k-grid-content tbody > tr.k-alt.IsChoose > td { border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content tbody > tr.k-alt.IsChoose > td:first-child { border-left: #32b6fc solid 5px; }
.k-grid .k-grid-content tbody > tr.k-alt.IsChoose:not(.k-grouping-row):not(.k-detail-row):hover > td:first-child { border-left: #688391 solid 5px; }
.k-grid .k-grid-content tbody > tr > td .k-button { min-width: 30px; border: none; border-radius: 0; background: none; }
.k-grid .k-grid-content tbody > tr > td .k-textbox { width: 100%; border-radius: 0; border: #d7e3f0 solid 1px; }

.k-grid:not(.k-grid-lockedcolumns) .k-grid-content tbody > tr.k-grouping-row > td:first-child { border-left: #4a6b89 solid 5px; }
.k-grid .k-grid-lockedcolumns .k-grid-content tbody > tr > td:first-child { border-left: none; }
.k-grid .k-grid-lockedcolumns .k-grid-content tbody > tr:hover > td:first-child { border-left: none; }


.k-grid .k-grid-content-locked tbody > tr > td { white-space: nowrap; color: #3d5977; font-size: 13px; height: 32px; padding: 0px 5px 0px 5px; margin: 0; background-color: transparent; border-top: none; border-left: none; border-right: none; border-bottom: #d7e3f0 solid 1px; }
.k-grid .k-grid-content-locked tbody > tr > td a.text { color: #3d5977; text-decoration: none; font-size: 13px; }
.k-grid .k-grid-content-locked tbody > tr > td a { color: #5a6877; text-decoration: none; font-size: 13px; }
.k-grid .k-grid-content-locked tbody > tr > td a:hover { color: #36C6D3; }
.k-grid .k-grid-content-locked tbody > tr > td .k-widget > span > input.k-input { padding: .177em 0; }
.k-grid .k-grid-content-locked tbody > tr.k-state-selected { background-color: transparent; }
.k-grid .k-grid-content-locked tbody > tr.k-state-selected:not(.k-grouping-row) td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content-locked tbody > tr.k-state-selected:not(.k-grouping-row) td:first-child { border-left: #32b6fc solid 5px; }
.k-grid .k-grid-content-locked tbody > tr.k-alt { background-color: #f6fafe; }
.k-grid .k-grid-content-locked tbody > tr.k-alt.k-state-selected { background-color: #f6fafe; }
.k-grid .k-grid-content-locked tbody > tr:hover { background-color: transparent; }
.k-grid .k-grid-content-locked tbody > tr:not(.k-grouping-row):not(.k-detail-row):hover td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content-locked tbody > tr:not(.k-grouping-row):not(.k-detail-row):hover td:first-child { border-left: #688391 solid 5px; }

.k-grid .k-grid-content-locked tbody > tr.IsChoose td { height: 31px; border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content-locked tbody > tr.IsChoose td:first-child { border-left: #32b6fc solid 5px; }
.k-grid .k-grid-content-locked tbody > tr.k-alt.IsChoose:not(.k-grouping-row):not(.k-detail-row):hover > td:first-child { border-left: #688391 solid 5px; }
.k-grid .k-grid-content-locked tbody > tr.k-alt.IsChoose td { border-top: #32b6fc solid 1px; border-left: none; border-right: none; border-bottom: #32b6fc solid 1px; }
.k-grid .k-grid-content-locked tbody > tr.k-alt.IsChoose td:first-child { border-left: #32b6fc solid 5px; }
.k-grid .k-grid-content tbody > tr.k-alt.IsChoose:not(.k-grouping-row):hover > td:first-child { border-left: #688391 solid 5px; }
.k-grid .k-grid-content-locked tbody > tr td .k-button { min-width: 30px; }

.k-grid .k-grid-content-locked tbody > tr.k-grouping-row td:first-child { border-left: #4a6b89 solid 5px; }

.k-grid .k-grid-pager.k-pager-wrap .k-pager-numbers .k-state-selected { background-color: #31b6fc; border-color: #31b6fc; }
.k-grid .k-grid-pager.k-pager-wrap .k-pager-sizes { padding-left: 0; padding-right: 2px; }
.k-grid .k-grid-pager.k-pager-wrap .k-pager-sizes .k-widget.k-dropdown.k-header { width: 40px; }
.k-grid .k-grid-pager.k-pager-wrap .k-pager-sizes .k-dropdown-wrap { padding: 0; border-radius: 4px; }
.k-grid .k-grid-pager.k-pager-wrap .k-pager-sizes .k-dropdown-wrap .k-select { display: none; }
.k-grid .k-grid-pager.k-pager-wrap .k-pager-info.k-label { padding: 0; padding-right: 3px; line-height: 26px; }

k-list .k-reset .k-item .k-state-hover{
    background-color:#32b6fc;
}

.k-widget .k-numerictextbox {
    min-width:100px;
}
.k-select {
    border-color: #b6b6b6;
}
.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: #2e2e2e;
    background-color:#fff;
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    color: #fff;
    background-color:#31b6fc;
    border-color: #31b6fc;
}
.k-list-container{
     background-color:#fff;
}
.k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow: inset 0 0 3px 1px #ffb53e;
    box-shadow: inset 0 0 3px 1px #ffb53e;
}
k-button .k-button-icontext .k-grid-excel{
   font-size: 25px;
   color:#000;
   font-weight:bold; 
}
.required{
    color:red;
    font-size:18px;
}
#grid .k-grid-toolbar {
    padding: .6em 1.3em;
}

.category-label {
    vertical-align: middle;
    padding-right: .5em;
}

#category {
    vertical-align: middle;
}

.cus-dropdow {
    width: 100%;
    background: #fff;
}

autocomplete.k-state-hover, .k-dropdown-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-picker-wrap.k-state-hover {
    background-color: #fff;
}

.k-state-hover > .k-select {
    border-color: #fff;
}

.k-input {
    background-color: #fff;
}

.k-select {
    background: #fff;
    background-color: #31b6fc;
    color: #fff;
}
.cus-number{
    border: solid 1px #c2cad8; border-radius: 0
}

.k-input.ng-scope{
    border: solid 1px #c2cad8; border-radius: 0
}
}
.k-widget > span > input.k-input {
    border-radius: 0;
}
.k-autocomplete, .k-dropdown-wrap, .k-numeric-wrap, .k-picker-wrap, .k-textbox {
     border-width: 0; 
    border-style: none;
    /* padding: 0 1.9em 0 0; */
}

/*Form*/
.cus-form { background-color: #fff; height: 100%; position: relative; }
.cus-form > form { height: -moz-calc(100% - 35px); height: -webkit-calc(100% - 35px); height: -o-calc(100% - 35px); height: calc(100% - 35px); position: relative; }

.cus-form .hidden { display: none; }
.cus-form .rowinput > div.error { width: 20px; float: right; line-height: 24px; font-size: 18px; display: none; }
.cus-form .rowinput > div.error a { text-decoration: none; color: #9b1a2e; }
.cus-form .rowinput > div.error.show { display: block; }

.rowinput { width: 100%; margin-top: 5px; position: relative; height: 30px; }
.rowinput > label { float: left; text-align: right; line-height: 26px; margin-right: 5px;font-weight:normal }
.rowinput > label .required { color: #FF1493; }
.rowinput > div { float: left; }

.rowinput.rowaction { text-align: center; }
.rowinput.rowaction a.k-button { position: relative; line-height: 18px; background: none; background-color: #fff; border-radius: 0; color: #5a6877; font-size: 16px; margin: 0; padding: 5px 10px; text-align: center; border: #d7e3f0 solid 1px; }
.rowinput.rowaction a.k-button:hover { color: #31b6fc; }
.rowinput.rowaction a.k-button.close:hover { color: #fff; background-color: #2f353b; }
.rowinput.rowaction a.k-button.accept { border: 1px solid #31b6fc; background-color: #31b6fc; color: #fff; }
.rowinput.rowaction a.k-button.accept:hover { background-color: #1da0e5; border-color: #1da0e5; }

.rowinput > div > input.k-textbox { width: 100%; border: solid 1px #c2cad8; border-radius: 0; }
/*.rowinput > div > .k-widget > span {
    height: 26px;    
}*/

.rowinput > div > input[type="text"] { width: 100%; border: solid 1px #c2cad8; border-radius: 0; }
.rowinput > div > textarea { width: calc(100% - 7px); border: solid 1px #c2cad8; }
.rowinput > div > form input.k-textbox { width: 100%; border: solid 1px #c2cad8; border-radius: 0; }
.rowinput > div > form input[type="text"] { width: 100%; border: solid 1px #c2cad8; border-radius: 0; }
.rowinput > div > form textarea { width: calc(100% - 7px); border: solid 1px #c2cad8; }
.rowinput > div > input[type="checkbox"] { position: relative; top: 4px; }
.rowinput > div > input[type="password"] { width: 100%; }
.rowinput > div > input[ng-readonly="true"] { background-color: #f1f1f1; }
.rowinput > div > a.k-button { background: none; border: solid 1px #c2cad8; border-radius: 0; }
.rowinput > div > a.k-button:hover { background-color: #c2cad8; border-radius: 0; }
.rowinput > div > a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }
/*.rowinput > div > .k-widget > span { height: 26px; }*/
.rowinput > div > form .k-widget > span { height: 26px; }

.rowinput .k-select {height: 30px; }

.rowinput > div .cus-combobox { width: 100%}
.rowinput > div .k-multiselect.k-header, .rowinput > div input.k-textbox, .rowinput > div textarea.k-textbox { border-radius: 0; }

.form-content-70 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-70 > .rowinput > label { width: 70px; }
.form-content-70 > .rowinput > div { width: -moz-calc(100% - 98px); width: -webkit-calc(100% - 98px); width: -o-calc(100% - 98px); width: calc(100% - 98px); }
.form-content-100 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-100 > .rowinput > label { width: 100px; }
.form-content-100 > .rowinput > div { width: -moz-calc(100% - 128px); width: -webkit-calc(100% - 128px); width: -o-calc(100% - 128px); width: calc(100% - 128px); }
.form-content-150 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-150 > .rowinput > label { width: 150px; }
.form-content-150 > .rowinput > div { width: -moz-calc(100% - 178px); width: -webkit-calc(100% - 178px); width: -o-calc(100% - 178px); width: calc(100% - 178px); }
.form-content-200 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-200 > .rowinput > label { width: 200px; }
.form-content-200 > .rowinput > div { width: -moz-calc(100% - 228px); width: -webkit-calc(100% - 228px); width: -o-calc(100% - 228px); width: calc(100% - 228px); }
.form-content-250 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-250 > .rowinput > label { width: 250px; }
.form-content-250 > .rowinput > div { width: -moz-calc(100% - 278px); width: -webkit-calc(100% - 278px); width: -o-calc(100% - 278px); width: calc(100% - 278px); }
.form-content-300 { padding-right: 30px; height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.form-content-300 > .rowinput > label { width: 300px; }
.form-content-300 > .rowinput > div { width: -moz-calc(100% - 328px); width: -webkit-calc(100% - 328px); width: -o-calc(100% - 328px); width: calc(100% - 328px); }


.cus-form > .form-body { height: -moz-calc(100% - 41px); height: -webkit-calc(100% - 41px); height: -o-calc(100% - 41px); height: calc(100% - 41px); position: relative; overflow-y: auto; width: 100%; }
.cus-form > .form-body.with-footer { height: -moz-calc(100% - 82px); height: -webkit-calc(100% - 82px); height: -o-calc(100% - 82px); height: calc(100% - 82px); position: relative; width: 100%; }
.cus-form > .form-header { padding: 0; margin: 0; position: relative; height: 40px; background-color: #f6fafe; border-bottom: #d7e3f0 solid 1px; }
.cus-form > .form-header > .left { margin-left: 3px; float: left; display: inline-block; line-height: 40px; }
.cus-form > .form-header > .left > div:not(.title):not(.clear) { float: left; height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .left > span:not(.title) { float: left; height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .left > input { float: left; height: 28px; margin: 7px 2px; line-height: 28px; }
.cus-form > .form-header > .right > div:not(.title):not(.clear) { height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .right > span:not(.title) { height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .right > input { height: 28px; margin: 7px 2px; line-height: 28px; }
.cus-form > .form-header > .right > label { height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .right > form { height: 26px; margin: 7px 2px; line-height: 26px; }
.cus-form > .form-header > .title { padding: 0 5px; line-height: 40px; font-size: 16px; color: #3d5977; font-weight: bold; }
.cus-form > .form-header > .right { margin: 0; float: right; display: inline-block; }

.cus-form > .form-header > .right > span,
.cus-form > .form-header > .right > div,
.cus-form > .form-header > .right > input,
.cus-form > .form-header > .right > label,
.cus-form > .form-header > .right > form,
.cus-form > .form-header > .right > a { float: left; }


.cus-form > .form-header > div a.k-button { position: relative; line-height: 18px; background: none; background-color: transparent; border-radius: 0; color: #5a6877; height: 40px; font-size: 18px; margin: 0; padding: 11px 0; text-align: center; border: none; min-width: 40px; }
.cus-form > .form-header > div a.k-button:hover { color: #31b6fc; }
.cus-form > .form-header > div a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }
.cus-form > .form-header > div a.k-button:not(.setting) > .tooltip { visibility: hidden; width: 100px; background-color: black; color: #fff; text-align: center; padding: 5px 5px; border-radius: 4px; top: 100%; left: -35px; position: absolute; z-index: 1; font-size: 13px; }
.cus-form > .form-header > div a.k-button:not(.setting) > .tooltip::after { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent black transparent; }
.cus-form > .form-header > div a.k-button:not(.setting):hover > .tooltip { visibility: visible; opacity: 0.8; z-index: 999; }
.cus-form > .form-header > div a.k-button:not(.setting) > .tooltip.is-right { left: -71px; }
.cus-form > .form-header > div a.k-button:not(.setting) > .tooltip.is-right::after { left: 91px; }
.cus-form > .form-header > div > .text { padding-left: 10px; color: #3d5977; font-size: 14px; line-height: 40px; }


.cus-form > .form-footer { padding: 0; margin: 0; width: 100%; position: relative; height: 40px; background-color: #fff; border-top: #d7e3f0 solid 1px; }
.cus-form > .form-footer > div { height: 28px; text-align: right; padding: 5px 10px; }
.cus-form > .form-footer > div a.k-button { background: none; position: relative; line-height: 20px; background: none; border-radius: 0; height: 28px; font-size: 13px; margin: 0 0 0 5px; text-align: center; padding: 4px 12px; min-width: 30px; border: 1px solid #2f353b; color: #2f353b; }

.cus-form > .form-footer > div a.k-button.close:hover { color: #fff; background-color: #2f353b; }
.cus-form > .form-footer > div a.k-button:focus { background: none; }
.cus-form > .form-footer > div a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }
.cus-form > .form-footer > div a.k-button.accept { border: 1px solid #31b6fc; background-color: #31b6fc; color: #fff; }
.cus-form > .form-footer > div a.k-button.accept:hover { background-color: #1da0e5; border-color: #1da0e5; }

/*.btn-success.btn-save{
    border: 1px solid #31b6fc; background-color: #31b6fc; color: #fff
}*/

/*window*/
.cus-window.opacity90 { opacity: 1; }
.cus-window.k-window-content .cus-form > .form-body { height: -moz-calc(100% - 41px); height: -webkit-calc(100% - 41px); height: -o-calc(100% - 41px); height: calc(100% - 41px); position: relative; /*padding: 0 10px;*/ }
.cus-window.k-window-content .cus-form > .form-body.with-footer { height: -moz-calc(100% - 92px); height: -webkit-calc(100% - 92px); height: -o-calc(100% - 92px); height: calc(100% - 92px); position: relative; }
.cus-window.k-window-content .cus-form > .form-body.with-footer .cus-form { height: -moz-calc(100% - 5px); height: -webkit-calc(100% - 5px); height: -o-calc(100% - 5px); height: calc(100% - 5px); }
.cus-window.k-window-content .cus-form > .form-content { height: -moz-calc(100% - 41px); height: -webkit-calc(100% - 41px); height: -o-calc(100% - 41px); height: calc(100% - 41px); position: relative; padding: 0 10px; }
.cus-window.k-window-content .cus-form > .form-content.with-footer { height: -moz-calc(100% - 92px); height: -webkit-calc(100% - 92px); height: -o-calc(100% - 92px); height: calc(100% - 92px); position: relative; }
.cus-window.k-window-content .form-header { padding: 0; margin: 0; width: 100%; position: relative; height: 40px; background-color: #fff; border-bottom: #d7e3f0 solid 1px; }
.cus-window.k-window-content .form-header > .left { margin-left: 3px; float: left; display: inline-block; }
.cus-window.k-window-content .form-header .title { height: 20px; padding: 10px; line-height: 20px; font-size: 13px; color: #3d5977; font-weight: bold; }
.cus-window.k-window-content .form-header > .right { margin: 10px; margin: 0; float: right; display: inline-block; line-height: 20px; }

.cus-window.k-window-content .form-footer { padding: 0; margin: 0; width: 100%; position: relative; height: 50px; background-color: #fff; border-top: #d7e3f0 solid 1px; width: 100%; }
.cus-window.k-window-content .form-footer > div { height: 28px; text-align: right; padding: 10px; }
.cus-window.k-window-content .form-footer > div > a.k-button { background: none; position: relative; line-height: 20px; background: none; border-radius: 0; height: 28px; font-size: 13px; margin: 0 0 0 5px; text-align: center; padding: 4px 12px; min-width: 30px; border: 1px solid #2f353b; color: #2f353b; }
.cus-window.k-window-content .form-footer > div > a.k-button:active { background: none; background-color: #fff; border: none; border-radius: 0; }
.cus-window.k-window-content .form-footer > div > a.k-button.close:hover { color: #fff; background-color: #2f353b; }
.cus-window.k-window-content .form-footer > div > a.k-button:focus { background: none; }
.cus-window.k-window-content .form-footer > div > a.k-button.close {border:solid 1px #2f353b;background-color:#0f0b10;color: #fff}
.cus-window.k-window-content .form-footer > div > a.k-button.accept { border: 1px solid #31b6fc; background-color: #31b6fc; color: #fff; }
.cus-window.k-window-content .form-footer > div > a.k-button.accept:hover { background-color: #1da0e5; border-color: #1da0e5; }

.k-checkbox-label {
    position: relative;
    padding-left: 1.5em;
    padding-bottom: 1em;
    vertical-align: middle;
    line-height: .875em; 
    cursor: pointer;    
    border-radius: 0; 
}
.k-checkbox:focus{
    border-color: #31b6fc;
}
.k-checkbox:hover{
    border-color: #31b6fc;
}
.k-checkbox:checked+.k-checkbox-label::before {
    border-color: #31b6fc;
    color: #fff; 
    background-color: #31b6fc;
    border-radius:0;
}
.k-checkbox-label:before {
    content: "";
    position: absolute;
    top: 0;  
    left: 1em; 
    border-width: 1px;
    border-style: solid;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
     border-color: #31b6fc;
    background: #fff;
    border-radius: 0; 
}
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.k-item .ng-scope .k-state-hover{
    background-color:#fff;
}

/*body page*/
.brand-body{
    width:100%;
    height:calc(100% - 101px);
    overflow-y:auto;
    position:relative;
    padding:25px;
}
.brand-body-item{
    float: left;
    height: 165px;
    margin: 0;
    padding: 10px;
    width: 175px;
}
@media only screen and (max-width: 320px) {
    .brand-body-item{
        width:48%;
        float:left;
    }
}
@media only screen and (max-width: 480px) {
    .brand-body-item{
        width:48%;
        float:left;
    }
}
.brand-body-item > a{
    color: #000;
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}
.brand-body-item > a .brand-body-item-icon{
    display: block;
    height: 115px;
    text-align: center;
}
.brand-body-item > a .brand-body-item-icon .icon-icon{
     /*background-image: url("/img/ico_setting2_active.png");*/
     background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #eaeaeb;
    height: 113px;
    margin: 0 25px;
    visibility: visible;
    width: 113px;
    position:relative;
    color: #000;
    font-size:34px;    
}
.abouts::before{
    content: "\f003";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}
.theme::before{
    content: "\f042";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}
.seo::before{
    content: "\f013";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}
.page::before{
    content: "\f0f6";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}

.slide::before{
    content: "\f03e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}

.noti::before{
    content: "\f0a1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#1ABB9C;
    left: 40px;
    top:30px;
    position:absolute;
}

.brand-body-item > a .brand-body-item-icon .brand-body-item-icon-title{
    color: #6f8ba9;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    width: 100%;
}

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

