@{
    ViewBag.Title = "QUẢN TRỊ NỘI DUNG";
}

<div class="row">
    <ol class="breadcrumb" style="font-size:16px;color:black">
        <li><a href="/Pn/#/DASH_Index"><i class="fa fa-home"></i></a></li>
        <li class="active">Quản trị nội dung</li>
    </ol>
</div>
<!--Grid-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default cus-grid" style="border:none;margin-top:5px">
            <div class="panel-body">
                
                <div class="brand-body-item">
                    <a href="/Pn/#/CONTACT_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon abouts">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">TRANG LIÊN HỆ</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="//#" ng-click="Modal_THEME($event)">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon theme">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">THEME</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/SEO_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon seo">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">CẤU HÌNH SEO</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/MENU_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon page">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">MENU</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/PAGE_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon page">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">DANH SÁCH TRANG</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/SLIDE_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon slide">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">SLIDE</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/NOTI_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon noti">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">THÔNG BÁO</div>
                    </a>
                </div>

                <div class="brand-body-item">
                    <a href="/Pn/#/FOOTER_Index">
                        <div class="brand-body-item-icon">
                            <div class="icon-icon seo">
                            </div>
                        </div>
                        <div class="brand-body-item-icon-title">FOOTER</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div><!--/.Grid-->


<!--Theme-->
<div class="modal" modal-show modal-visible="showModal_Theme" role="dialog" data-refresh="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn màu cho trang chủ</h4>
            </div>
            <div class="modal-body cus-window">
                <a href="#" ng-click="Change_THEME($event)" data-link="/Content/theme-color/orange-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#ff871c;"></div>
                </a>
                <a href="#" ng-click="Change_THEME($event)" id="bridge" data-link="/Content/theme-color/bridge-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#a5d549;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="dark-red" data-link="/Content/theme-color/dark-red-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#970001;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="rose" class="change-theme" data-link="/Content/theme-color/rose-theme.css">
                    <div class="theme-color" style="background-color:#ff6666;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="green" class="change-theme" data-link="/Content/theme-color/green-theme.css">
                    <div class="theme-color" style="background-color:#3fc35f;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="lite-blue" class="change-theme" data-link="/Content/theme-color/lite-blue-theme.css">
                    <div class="theme-color" style="background-color:#37c6f5;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="pink" class="change-theme" data-link="/Content/theme-color/pink-theme.css">
                    <div class="theme-color" style="background-color:#ff2851;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="purple" class="change-theme" data-link="/Content/theme-color/purple-theme.css">
                    <div class="theme-color" style="background-color:#c762cb;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="red" class="change-theme" data-link="/Content/theme-color/red-theme.css">
                    <div class="theme-color" style="background-color:#ee4532;"></div>
                </a>

                <a href="#" ng-click="Change_THEME($event)" id="yellow" class="change-theme" data-link="/Content/theme-color/yellow-theme.css">
                    <div class="theme-color" style="background-color:#f7c510;"></div>
                </a>
 
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>



