
@{
    ViewBag.Title = "FOOTER";
}

<div class="row">
    <ol class="breadcrumb" style="font-size:16px;color:black">
        <li><a href="/Pn/#/DASH_Index"><i class="fa fa-home"></i></a></li>
        <li><a href="/Pn/#/CONTENT_Index">Quản trị nội dung</a></li>
        <li class="active">Thông tin dưới trang chủ</li>
    </ol>
</div>
<!--Grid-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default cus-grid" style="border:none;margin-top:5px">
            <div class="panel-body">
                <div expand-k-grid class="cus-grid" kendo-grid="FOOTER_grid" k-options="FOOTER_gridOptions"></div>
            </div>
        </div>
    </div>
</div><!--/.Grid-->
<script type="text/x-kendo-template" id="FOOTERGridTemplate">
    <div class="gridtoolbar">
        <div class="toolbar-left" style="float:left;">
            <a ng-click="Back_Click($event)" class="k-button k-button-icontext" style="font-size:20px;color:black;font-weight:bold;border:none" href="\#"><i class="fa fa-undo"><span class="tooltip">Quay lại</span></i></a>            
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="statusFOOTERTpl">
    <a href="\\#" ng-click="ChangeStatus_FOOTER($event,#=id#)">#=status?'<span class="btn_success">Kích hoạt</span>':'<span class="btn_block"><i class="fa fa-lock"></i> Khóa</span>'#</a>
</script>


<script type="text/x-kendo-template" id="detailFOOTERTpl">
    <input type="hidden" ng-model="Item.ID" data-bind="value:id" />
    <textarea rows="4" ckEditor style="width:calc(100% - 7px)" ng-model="dataItem.detail"></textarea>
    <div style="width:100%;float:right;margin-top:15px">
        <a href="/" ng-click="FOOTER_SaveClick($event,dataItem.detail)" class="btn btn-success btn-save" data-title="Lưu">Lưu</a>
    </div>
</script>
