@model List<Shop_Nhi.Models.CartItem>

@{
    decimal tongtien = 0;
    foreach (var item in Model)
    {
        if (item.product.promotionPrice > 0)
        {
            tongtien += item.product.promotionPrice.GetValueOrDefault(0) * item.quantity;
        }
        else
        {
            tongtien += item.product.price.GetValueOrDefault(0) * item.quantity;
        }
    }
}


<div class="aa-header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-bottom-area">
                    <div class="aa-logo">                       
                        <a href="/"><img src="~/img/logo_nfashion.jpg" class="img-responsive" alt="logo"></a>                        
                    </div>
                    <div class="aa-cartbox">
                        <a class="aa-cart-link" href="/gio-hang">
                            <span class="fa fa-shopping-basket"></span>
                            <span class="aa-cart-title">GIỎ HÀNG</span>
                            <span class="aa-cart-notify">@Model.Count</span>
                        </a>
                    </div>
                    <div class="aa-search-box">
                        <form action="/tim-kiem" method="get">
                            <input type="text" name="keyword" id="txtKeyword" placeholder="nhập tên hoặc mã sản phẩm ">
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </form>
                    </div>
                    <!-- / search box -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / header bottom  -->