@model Shop_Nhi.Models.Framework.Notification

@if (Model.satus == true)
{
    <div id="myPopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                    @Html.Raw(Model.detail)
                </div>               
            </div>           
        </div>

    </div>
</div>
}