<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in BreakumbDetail"><a ui-sref="{{item.Code}}">{{item.FunctionName}}</a></li>
                <li><span>Lập lệnh DN</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="Approved_Click($event)" class="k-button" data-title="Duyệt"><i class="fa fa-check-square-o"></i><span class="tooltip">Duyệt</span></a>
            <a href="/" ng-click="UnApproved_Click($event)" class="k-button" data-title="Hủy duyệt"><i class="fa fa-ban"></i><span class="tooltip">Hủy duyệt</span></a>
            <a href="/" ng-click="Delete_Click($event)" class="k-button" data-title="Xóa"><i class="fa fa-times"></i><span class="tooltip">Xóa</span></a>
            <a href="/" ng-click="MergeCancel_Click($event)" class="k-button" data-title="Hủy gom hàng" ng-show="IsShowCombine"><i class="fa fa-ban"><span class="tooltip">Hủy gom hàng</span></i></a>
            <a href="/" ng-click="Save_Click($event)" class="k-button" data-title="Lưu"><i class="fa fa-check"></i><span class="tooltip">Lưu</span></a>
            <a href="/" ng-click="Close_Click($event)" class="k-button" data-title="Thoát"><i class="fa fa-history"></i><span class="tooltip is-right">Thoát</span></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="gridHasDN" k-options="gridHasDNOptions" expand-k-grid></div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="OPSAppointment_DIRouteMasterHasDN_gridToolbar">
    <div class="gridtoolbar">
        <div class="left">
            <span class="header"> {{ HTML(Summary)}} </span>
        </div>
        <div class="right">
            <input type="checkbox" id="IsShowTxtDN" ng-model="IsShowTxtDN" ng-click="CreateHasDN_Click($event)" /><label for="IsShowTxtDN">Lập theo DN &nbsp;</label>
            <form ng-submit="DNEnter_Click($event)" style="width:100px" ng-show="IsShowTxtDN"><input class="cus-combobox" kendo-auto-complete="cboOrderListDN" k-options="cboOrderListDNOptions" ng-model="DNCode" style="width:100%" /></form>
            <a href="/" ng-click="DNEnter_Click($event)" class="k-button" ng-show="IsShowTxtDN"><i class="fa fa-search"></i><span class="tooltip is-right">Tìm</span></a>
            <input ng-show="!IsShowTxtDN" type="checkbox" id="IsHasDNMonitor" ng-model="IsHasDNMonitor" ng-click="CreateHasDNMonitor_Click($event)" /><label ng-show="!IsShowTxtDN" for="IsHasDNMonitor">Đã duyệt &nbsp;</label>
        </div>
    </div>
</script>

<style>
    .gridtoolbar .right { float: right; display: inline-block; }
</style>

