<!--Main View-->
<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in BreakumbDetail"><a ui-sref="{{item.Code}}">{{item.FunctionName}}</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" class="k-button" ng-show="Auth.ActTruck" ng-click="DI_Click($event,new_trip_Grid,new_trip_win)" style="color:blue;"><i class="fa fa-th"></i><span class="tooltip is-right">Phân phối</span></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-body">
        <div kendo-diagram="opsDiagram" k-options="opsDiagram_Options" style="height: calc(100% - 2px); width: calc(100% - 2px); "></div>
    </div>
</div>

<!--Distributor-->

<!--NewTrips Popup-->
<div class="cus-window opacity90" id="newtripwin" k-title="false" draggable-k-window k-width="900" k-height="500" k-min-width="500" k-min-height="300" kendo-window="new_trip_win" k-visible="false" k-resizable="true" k-modal="true" k-on-close="On_Close('NewTO')">
    <div class="cus-form">
        <div class="form-header" style="background: #f6fafe;">
            <div class="left title">
                Danh sách chuyến
            </div>
            <div class="right">
                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==0&&NewTripChoose&&ToMonAvailable" ng-click="NewDelete_Click($event)"><i class="fa fa-ban"></i><span class="tooltip">Xóa chuyến</span></a>
                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==0&&NewTripChoose&&ToMonAvailable" ng-click="NewToMON_Click($event)"><i class="fa fa-check-square-o"></i><span class="tooltip">Duyệt</span></a>
                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==0&&NewTripChoose&&ToOpsAvailable" ng-click="NewToOPS_Click($event)"><i class="fa fa-clock-o"></i><span class="tooltip">Hủy duyệt</span></a>

                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==2&&NewTimeLineToMonAvailable" ng-click="NewTimeLine_GroupDelete_Click($event,new_timeline_Trip)"><i class="fa fa-ban"></i><span class="tooltip">Xóa chuyến</span></a>
                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==2&&NewTimeLineToMonAvailable" ng-click="NewTimeLine_GroupToMON_Click($event,new_timeline_Trip)"><i class="fa fa-check-square-o"></i><span class="tooltip">Duyệt</span></a>
                <a class="k-button" style="float:left;" ng-show="NewTripViewAction==2&&NewTimeLineToOpsAvailable" ng-click="NewTimeLine_GroupToOPS_Click($event,new_timeline_Trip)"><i class="fa fa-clock-o"></i><span class="tooltip">Hủy duyệt</span></a>

                <ul class="filter-list" style="float:left;">
                    <li data-tabindex="0" ng-show="NewTripViewAction==1&&NewViewDataSelect.length>0" ng-click="NewTripViewDataSelect_Click($event,new2view_trip_select_Grid,new_trip_select_win)" class="k-item">Bổ sung chuyến</li>
                    <li data-tabindex="1" ng-show="NewTripViewAction==0" ng-click="NewTripViewStatus_Click($event)" class="k-item" ng-class="NewViewTripApproved?'k-state-active':''">Kế hoạch</li>
                    <li data-tabindex="2" ng-show="NewTripViewAction==0" ng-click="NewTripViewStatus_Click($event)" class="k-item" ng-class="NewViewTripTendered?'k-state-active':''">Đã duyệt</li>
                    <li data-tabindex="3" ng-show="NewTripViewAction!=2" ng-click="NewTripViewDate_Click($event)" class="k-item" ng-class="NewViewTripDate?'k-state-active':''">
                        Chọn ngày
                        <ul ng-show="ShowNewTripDate" style="z-index: 990001; position: absolute; right: 0; background-color: #fff; color: #000; width: 150px; list-style: none; padding: 2px 10px; box-shadow: -2px 2px 3px #d7e3f0; ">
                            <li>
                                Từ ngày: <input class="cus-datepicker" focus-k-datepicker kendo-date-picker k-ng-model="NewTripDateRequest.fDate" k-options="DateDMY" />
                            </li>
                            <li>
                                Đến ngày: <input class="cus-datepicker" focus-k-datepicker kendo-date-picker k-ng-model="NewTripDateRequest.tDate" k-options="DateDMY" />
                            </li>
                            <li style="text-align: center;">
                                <a class="accept" ng-click="NewTripViewDate_OK_Click($event)">Đồng ý</a>
                                <a class="accept" ng-click="NewTripViewDate_Cancel_Click($event)">Hủy chọn</a>
                            </li>
                        </ul>
                    </li>
                    <li data-tabindex="4" ng-click="NewTripView2View_Click($event)" class="k-item" ng-class="NewTripViewAction==1?'k-state-active':''">Điều chỉnh</li>
                    <li data-tabindex="5" ng-click="NewTripViewTimeLine_Click($event)" class="k-item" ng-class="NewTripViewAction==2?'k-state-active':''">Theo xe</li>
                </ul>
                <a href="/" ng-show="!NewViewTripLoading" class="k-button" ng-click="ViewMax_Click($event,new_trip_win)"><i class="fa fa-television"></i></a>
                <a href="/" class="k-button" ng-click="Close_Click($event,new_trip_win,'NewTO')"><i class="fa fa-close"></i></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body">
            <div class="full" style=" position: absolute; background: #fff; z-index: 999;" ng-show="NewViewTripLoading">
                <div style="position: absolute; top: calc(50% - 22px); left: calc(50% - 22px);">
                    <i class="fa fa-spinner fa-spin" style="font-size: 44px; color: #31b6fc; "></i>
                </div>
            </div>
            <div class="full" style=" position: absolute; background: #fff; z-index: 980;" ng-show="NewTripViewAction==0">
                <div class="cus-grid" expand-k-grid kendo-grid="new_trip_Grid" k-options="new_trip_Grid_Options"></div>
            </div>
            <div class="full" style=" position: absolute; background: #fff; z-index: 970;" ng-show="NewTripViewAction==1">
                <div kendo-splitter="tripSplitter" k-options="tripSplitter_Options" class="cus-splitter" ng-class="ver-splitter" style="width: calc(100% - 2px);">
                    <div>
                        <div class="cus-grid" expand-k-grid kendo-grid="new2view_trip_Grid" k-options="new2view_trip_Grid_Options"></div>
                    </div>
                    <div>
                        <div class="cus-grid" expand-k-grid kendo-grid="new2view_gop_Grid" k-options="new2view_gop_Grid_Options"></div>
                    </div>
                </div>
            </div>
            <div class="full" style=" position: absolute; background: #fff; z-index: 960;" ng-show="NewTripViewAction==2">
                <div class="cus-scheduler timeline-trip" expand-k-scheduler kendo-scheduler="new_timeline_Trip" k-options="new_timeline_TripOptions" k-rebind="new_timeline_TripOptions" k-delay="new_timeline_TripOptions"></div>
            </div>
        </div>
    </div>
</div>

<span kendo-notification="notification" k-options="notificationOptions" style="z-index:999999;"></span>

<!--NewTripToSelect Popup-->
<div class="cus-window opacity90" k-title="false" draggable-k-window k-width="900" k-height="500" k-min-width="500" k-min-height="300" kendo-window="new_trip_select_win" k-visible="false" k-resizable="true" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Danh sách chuyến
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" expand-k-grid kendo-grid="new2view_trip_select_Grid" k-options="new2view_trip_select_Grid_Options"></div>
        </div>
        <div class="form-footer" style="background: #f6fafe;">
            <div>
                <a href="/" ng-click="NewTripSelect_OK_Click($event,new2view_trip_select_Grid,new_trip_select_win)" class="k-button accept">Đồng ý</a>
                <a href="/" ng-click="Close_Click($event,new_trip_select_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<!--NewTimeLineVehicleSelect Popup-->
<div class="cus-window opacity90" k-title="false" draggable-k-window k-width="500" k-height="500" kendo-window="new_timeline_vehicle_select_win" k-visible="false" k-resizable="false" k-modal="true" k-on-close="On_Close('DITimeLineVehicleSelect')">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Danh sách xe
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" expand-k-grid kendo-grid="new_timeline_vehicle_select_Grid" k-options="new_timeline_vehicle_select_Grid_Options"></div>
        </div>
        <div class="form-footer" style="background: #f6fafe;">
            <div>
                <a href="/" ng-click="NewTimeLineVehicleSelect_OK_Click($event,new_timeline_vehicle_select_win)" class="k-button accept">Đồng ý</a>
                <a href="/" ng-click="Close_Click($event,new_timeline_vehicle_select_win,'DITimeLineVehicleSelect')" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<!--NewTripDetail Popup-->
<div class="cus-window opacity90" k-title="false" draggable-k-window k-width="600" k-height="275" kendo-window="new_trip_info_win" k-visible="false" k-resizable="false" k-modal="true" k-on-close="On_Close('NewTODetail')">
    <div class="cus-form">
        <div class="form-header" style="background: #f6fafe;">
            <div class="left title">
                Chuyến: {{NewTripItem.Code}}
            </div>
            <div class="right" style="font-weight:bold;" ng-show="NewTripItem.Status==1">
                <div ng-show="NewTripItem.IsCheching">
                    <i class="fa fa-spinner fa-spin" style="font-size: 26px; color: #31b6fc;"></i>
                </div>
                <span ng-show="!NewTripItem.IsCheching" style="padding: 0 10px; color:{{NewTripItem.StatusColor}}">{{NewTripItem.StatusCode}}</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer" scrolldiv>
            <table class="td-right">
                <tbody>
                    <tr>
                        <td style="width:140px;">
                            Nhà xe:
                        </td>
                        <td colspan="6">
                            <input ng-disabled="NewTripItem.Status!=1" style="width:100%;" class="cus-combobox" focus-k-combobox kendo-combobox="cboNewTripVendor" k-ng-model="NewTripItem.VendorOfVehicleID" k-options="cboNewTripVendor_Options" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số xe:
                        </td>
                        <td colspan="6">
                            <input ng-disabled="NewTripItem.Status!=1" style="width:100%;" class="cus-combobox" focus-k-combobox kendo-combobox="cboNewTripVehicle" k-ng-model="NewTripItem.VehicleID" k-options="cboNewTripVehicle_Options" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tài xế:
                        </td>
                        <td colspan="6">
                            <input ng-readonly="NewTripItem.Status!=1||NewTripItem.VendorOfVehicleID==null||NewTripItem.VendorOfVehicleID<1" kendo-auto-complete focus-k-complete ng-model="NewTripItem.DriverName" k-options="atcNewTripDriverNameOptions" style="width: 205px;" />
                            <input ng-readonly="NewTripItem.Status!=1||NewTripItem.VendorOfVehicleID==null||NewTripItem.VendorOfVehicleID<1" type="text" class="k-textbox" ng-model="NewTripItem.DriverTel" maxlength="11" placeholder="SĐT" style="width: 139px; height: 26px; line-height: 26px; padding: .177em 0; text-indent: .33em; border-color: #c5c5c5; " />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ETD:
                        </td>
                        <td colspan="6">
                            <input ng-disabled="NewTripItem.Status!=1" style="width: 347px" class="cus-datepicker" focus-k-datetimepicker kendo-date-time-picker k-ng-model="NewTripItem.ETD" k-options="DateDMYHM" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ETA:
                        </td>
                        <td colspan="6">
                            <input ng-disabled="NewTripItem.Status!=1" style="width: 347px" class="cus-datepicker" focus-k-datetimepicker kendo-date-time-picker k-ng-model="NewTripItem.ETA" k-options="DateDMYHM" />
                        </td>
                    </tr>
                    <tr ng-show="NewTripItem.VendorOfVehicleID==-1&&NewTripItem.ID<1">
                        <td>
                            Điểm bắt đầu:
                        </td>
                        <td colspan="6">
                            <a class="k-button" title="{{NewTripItem.LocationStartName}}" style="width: 347px; background: none; height: 26px; text-align: left; " ng-click="TripLocation_Change($event,1,location_win)">{{NewTripItem.LocationStartName}}</a>
                        </td>
                    </tr>
                    <tr ng-show="NewTripItem.VendorOfVehicleID==-1&&NewTripItem.ID<1">
                        <td>
                            Điểm kết thúc:
                        </td>
                        <td colspan="6">
                            <a class="k-button" title="{{NewTripItem.LocationEndName}}" style="width: 347px; background: none; height: 26px; text-align: left; " ng-click="TripLocation_Change($event,2,location_win)">{{NewTripItem.LocationEndName}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-footer" style="background: #f6fafe;">
            <div>
                <a href="/" ng-show="NewTripItem.Status==1&&NewTripItem.ID>0" ng-click="NewTrip_Delete_OK_Click($event,new_trip_info_win)" class="k-button" style="background: #7b99bf; color: #fff; ">Xóa</a>
                <a href="/" ng-show="NewTripItem.Status==1&&NewTripItem.VehicleID>0" ng-click="NewTrip_Update_OK_Click($event,new_trip_info_win)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="Close_Click($event,new_trip_info_win,'NewTODetail')" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<!--NewTimeLine EventTemplate-->
<script id="new-timeline-event-template" type="text/x-kendo-template">
    <div style="cursor:pointer;" class="cus-event" ng-click="NewTimeLineEvent_Click($event,#=id#,new_trip_info_win)">
        <div style="line-height: 26px; white-space: nowrap; overflow: hidden;">#=title#</div>
    </div>
</script>

<!--Locations Popup-->
<div class="cus-window opacity90" k-title="false" draggable-k-window k-width="800" k-height="500" kendo-window="location_win" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Địa điểm
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" expand-k-grid kendo-grid="location_Grid" k-options="location_Grid_Options"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="LocationViewOnMap_Click($event,map_win)" class="k-button">Bản đồ</a>
                <a href="/" ng-click="Close_Click($event,location_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<!--Map Popup-->
<div class="cus-window opacity90" k-title="false" draggable-k-window k-width="900" k-height="500" kendo-window="map_win" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Bản đồ
            </div>
            <div class="right">
                <a href="/" class="k-button" ng-click="Close_Click($event,map_win,'MAP')"><i class="fa fa-close"></i></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-body">
            <div id="popupmap" class="cus-map"></div>
            <div id="popupmap_tooltip" class="cus-map-tooltip"></div>
        </div>
        <div style="position: absolute; top: 45px; right: 12px;">
            <input kendo-auto-complete focus-k-complete k-options="atcLocationOptions" style="width: 300px;" />
        </div>
    </div>
</div>

<!--Popup Map Info Win-->
<div class="cus-window opacity90 map-info" id="popupmap_info_win" k-title="false" k-width="300" k-height="400" k-visible="false" k-resizable="false" k-modal="true" style="display:none;">
    <div class="cus-form" style=" background-color: #f0f0f0; padding: 8px 18px; border: #31b6fc 2px solid; border-radius: 10px;">
        <table ng-show="LocationItem != null">
            <tbody>
                <tr>
                    <td>
                        Mã:
                    </td>
                    <td style="font-weight:bold;">
                        {{LocationItem.Code}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tên:
                    </td>
                    <td style="font-weight:bold;">
                        {{LocationItem.Location}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Địa chỉ:
                    </td>
                    <td>
                        {{LocationItem.Address}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tọa độ:
                    </td>
                    <td>
                        {{ConvertLatLng(LocationItem.Lat)}} - {{ConvertLatLng(LocationItem.Lng)}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="btnClose">
            <a href="/" ng-click="InfoClose_Click($event)"><i class="fa fa-close"></i></a>
        </div>
        <div style="text-align:center;">
            <a href="/" style="background: #31b6fc; border: 1px #31b6fc solid; color: #fff;" ng-click="OnMap_LocationChoose_Click($event,map_win,location_win)" class="k-button">Chọn</a>
        </div>
    </div>
</div>