<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in BreakumbDetail"><a ng-click="Breakumb_Click($event,item)" ui-sref="{{item.Code}}">{{item.FunctionName}}</a></li>
                <li><a ui-sref="main.OPSAppointment.COOptimizer">Tối ưu</a></li>
                <li><span>Ma trận điểm</span></li>
                <li><span>{{OptimizerName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Container({OptimizerID:{{OptimizerID}}})"><i class="fa fa-file-text"></i><span class="tooltip">Đơn hàng</span></a>
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Vehicle({OptimizerID:{{OptimizerID}}})"><i class="fa fa-truck"></i><span class="tooltip">Xe</span></a>
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Romooc({OptimizerID:{{OptimizerID}}})"><i class="fa fa-th"></i><span class="tooltip">Romooc</span></a>
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Location({OptimizerID:{{OptimizerID}}})"><i class="fa fa-location-arrow"></i><span class="tooltip">Địa điểm</span></a>
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Route({OptimizerID:{{OptimizerID}}})"><i class="fa fa-road"></i><span class="tooltip">Cung đường</span></a>
            <a class="k-button" ng-click="Refresh_Click($event,matrixGrid)"><i class="fa fa-refresh"></i><span class="tooltip">Làm mới</span></a>
            <a class="k-button" ui-sref="main.OPSAppointment.COOptimizer_Master({OptimizerID:{{OptimizerID}}})"><i class="fa fa-arrow-right"></i><span class="tooltip">{{ButtonRunTooltip}}</span></a>
            <a class="k-button" ng-click="Back_Click($event)"><i class="fa fa-history"></i><span class="tooltip is-right">Quay lại</span></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" expand-k-grid kendo-grid="matrixGrid" k-options="matrixGrid_Options"></div>
    </div>
</div>