<script type="text/x-kendo-tmpl" id="SYSGroupChild_treeToolbar">
    <div class="gridtoolbar">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <a href="/" ng-click="Add_Click($event,SYSGroupChild_win,SYSGroupChild_win_vform)" class="k-button" data-title="Thêm mới"><span class="tooltip">Thêm mới</span><i class="fa fa-plus"></i></a>
            <a href="/" ng-show="HasChoose" ng-click="Del_Click($event,SYSGroupChild_tree)" class="k-button" data-title="Xóa"><span class="tooltip">Xóa</span><i class="fa fa-trash"></i></a>
            <a href="/" ng-mouseover="ShowSetting($event,SYSGroupChild_tree)" ng-mouseleave="HideSetting($event)" class="k-button" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>

        </div>
        <div class="clear"></div>
    </div>
</script>

<div class="cus-grid" kendo-grid="SYSGroupChild_tree" expand-k-grid k-options="SYSGroupChild_treeOptions"></div>


<div class="cus-window" draggable-k-window kendo-window="SYSGroupChild_win" k-title="false" k-width="600" k-height="400" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">
                Loại Vai trò
            </div>
            <div class="right button">
            </div>
        </div>

        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="SYSGroupChild_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="Item.Code" v-form-require="true" v-form-length="50" />
                        </div>
                       <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Chức năng <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="50" ng-model="Item.GroupName" v-form-require="true" v-form-length="50" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Mô tả </label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="1000" ng-model="Item.Description" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Loại vai trò <span class="required">*</span></label>
                        <div>
                            <input class="cus-combobox" focus-k-combobox kendo-combo-box k-options="SYSGroupChild_cboOptions" ng-model="Item.ParentID" v-form-require="true" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Đang hoạt động</label>
                        <div>
                            <input type="checkbox" ng-model="Item.IsApproved" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Save_Click($event,SYSGroupChild_win,SYSGroupChild_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="Close_Click($event,SYSGroupChild_win)" class="k-button close" data-title="Đóng">Đóng</a>
            </div>
        </div>
    </div>
</div>