<div class="cus-form">
    <div class="form-header">
        <div class="left">
            <ul class="breakumb">
                <li ng-repeat="item in Breakumb"><a ng-click="Breakumb_Click($event,item)" ng-show="item.IsLink" ui-sref="{{item.Code}}">{{item.FunctionName}}</a><span ng-show="!item.IsLink">{{item.FunctionName}}</span></li>
            </ul>
        </div>
        <div class="right">
            <span>Ngôn ngữ</span>
            <input kendo-combo-box="cboLang" focus-k-combobox k-options="cboLang_Options" k-ng-model="LanguageName" style="width:200px" />
            <a href="/" ng-click="SYSResource_SearchClick($event,SYSResource_Grid)" class="k-button"><span class="tooltip">Xem</span><i class="fa fa-search"></i></a>
            <a href="/" ng-click="SYSResource_SetDefaultClick($event)" ng-show="ParamSearch>0" class="k-button"><span class="tooltip">Đặt làm ngôn ngữ hệ thống</span><i class="fa fa-check-circle"></i></a>
            <a href="/" ng-click="SYSResource_AddNewClick($event,SYSResource_win,SYSResource_win_vform)" class="k-button" data-title="Tạo mới"><span class="tooltip">Tạo mới</span><i class="fa fa-plus"></i></a>
            <a href="/" ng-click="SYSResource_ExcelClick($event,winexcel)" class="k-button"><span class="tooltip">Excel</span><i class="fa fa-file-excel-o"></i></a>
            <a href="/" ng-mouseover="ShowSetting($event,SYSResource_Grid)" ng-mouseleave="HideSetting($event)" class="k-button" data-title="Thiết lập"><i class="fa fa-ellipsis-v"></i></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="SYSResource_Grid" expand-k-grid k-options="SYSResource_GridOptions"></div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="SYSResource_win" k-title="false" k-width="500" k-height="300" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thêm mới/Chỉnh sửa</div>

            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <form action="/" method="post">
                <div class="form-content-150" v-form="SYSResource_win_vform">
                    <div class="rowinput">
                        <label>Mã <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="100" ng-disabled="Item.ID>0&&ParamSearch>0" ng-model="Item.Key" v-form-require="true" v-form-length="100" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="500" ng-model="Item.Name" v-form-require="true" v-form-length="500" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="rowinput">
                        <label>Tên ngắn <span class="required">*</span></label>
                        <div>
                            <input type="text" class="k-textbox" maxlength="500" ng-model="Item.ShortName" v-form-require="true" v-form-length="500" />
                        </div>
                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="SYSResource_win_SaveClick($event,SYSResource_win,SYSResource_win_vform)" class="k-button accept" data-title="Lưu">Lưu</a>
                <a href="/" ng-click="SYSResource_win_CloseClick($event,SYSResource_win)" class="k-button close" data-title="Đóng">Đóng</a>

            </div>
        </div>
    </div>
</div>