<?xml version="1.0" encoding="utf-8"?>         
<!--  
  For more information on how to configure your ASP.NET application, please visit  
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->  
<configuration>           
  <configSections>    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>  
  <connectionStrings>
    <!--TMSDemo-->
    <add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_demo_membership;uid=tms_demo;pwd=123456789;Connection Timeout=30" />
    
    <!--GLC-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_glc_membership;uid=tms_glc;pwd=123456789;Connection Timeout=30" />-->
       
    <!--VFC-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_vinafco_membership;uid=tms_vinafco;pwd=123456789;Connection Timeout=30" />-->
    
    <!--ABA-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_aba_membership;uid=tms_aba;pwd=123456789;Connection Timeout=30" />-->
    
    <!--HDL-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_hdl_membership;uid=tms_hdl;pwd=123456789;Connection Timeout=30" />-->
    
    <!--ACSG-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_anhcao_membership;uid=tms_anhcao;pwd=123456789;Connection Timeout=30" />-->
    
    <!--VCSC-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_vcsc_membership;uid=tms_vcsc;pwd=123456789;Connection Timeout=30" />-->
    
    <!--ASL-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_asl_membership;uid=tms_asl;pwd=123456789;Connection Timeout=30" />-->
    
    <!--TRASAS-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_trasas_membership;uid=tms_trasas;pwd=123456789;Connection Timeout=30" />-->

    <!--CUSTESTVFC-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_custestvinafco_membership;uid=tms_vinafco;pwd=123456789;Connection Timeout=30" />-->
  
    <!--SOTRANS-->
    <!--<add name="aspnetdbcon" connectionString="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_sotrans_membership;uid=tms_sotrans;pwd=123456789;Connection Timeout=30" />-->
  </connectionStrings>         
  <appSettings>
    <add key="optimizationjs" value="false" />
    <add key="customer" value="" />    
    <add key="password" value="123456789" />
    
    <!--<add key="SVExtend" value="http://192.168.1.251:8890/SVOther.svc" />
    <add key="SVData" value="http://192.168.1.251:8889/SVData.svc" />
    <add key="SVCategory" value="http://192.168.1.251:8889/SVCategory.svc" />
    <add key="SVSystem" value="http://192.168.1.251:8889/SVSystem.svc" />
    <add key="SVOperation" value="http://192.168.1.251:8889/SVOperation.svc" />
    <add key="SVOrder" value="http://192.168.1.251:8889/SVOrder.svc" />
    <add key="SVFleetmanage" value="http://192.168.1.251:8889/SVFleetmanage.svc" />
    <add key="SVKPI" value="http://192.168.1.251:8889/SVKPI.svc" />
    <add key="SVCustomer" value="http://192.168.1.251:8889/SVCustomer.svc" />
    <add key="SVVendor" value="http://192.168.1.251:8889/SVVendor.svc" />
    <add key="SVFinance" value="http://192.168.1.251:8889/SVFinance.svc" />
    <add key="SVMonitor" value="http://192.168.1.251:8889/SVMonitor.svc" />
    <add key="SVPODSTR" value="http://192.168.1.251:8889/SVPOD.svc" />
    <add key="SVReport" value="http://192.168.1.251:8889/SVReport.svc" />
    <add key="SVActive" value="http://192.168.1.251:8889/SVActive.svc" />
    <add key="SVTrigger" value="http://192.168.1.251:8889/SVTrigger.svc" />
    <add key="SVWorkflow" value="http://192.168.1.251:8889/SVWorkflow.svc" />
    <add key="SVMobile" value="http://192.168.1.251:8889/SVMobile.svc" />-->

    <!--
    <add key="SVExtend" value="http://192.168.1.251:8890/SVOther.svc" />
    <add key="SVData" value="http://server.smartlog.vn/SVData.svc" />
    <add key="SVCategory" value="http://server.smartlog.vn/SVCategory.svc" />
    <add key="SVSystem" value="http://server.smartlog.vn/SVSystem.svc" />
    <add key="SVOperation" value="http://server.smartlog.vn/SVOperation.svc" />
    <add key="SVOrder" value="http://server.smartlog.vn/SVOrder.svc" />
    <add key="SVFleetmanage" value="http://server.smartlog.vn/SVFleetmanage.svc" />
    <add key="SVKPI" value="http://server.smartlog.vn/SVKPI.svc" />
    <add key="SVCustomer" value="http://server.smartlog.vn/SVCustomer.svc" />
    <add key="SVVendor" value="http://server.smartlog.vn/SVVendor.svc" />
    <add key="SVFinance" value="http://server.smartlog.vn/SVFinance.svc" />
    <add key="SVMonitor" value="http://server.smartlog.vn/SVMonitor.svc" />
    <add key="SVPODSTR" value="http://server.smartlog.vn/SVPOD.svc" />
    <add key="SVReport" value="http://server.smartlog.vn/SVReport.svc" />
    <add key="SVActive" value="http://server.smartlog.vn/SVActive.svc" />
    <add key="SVTrigger" value="http://server.smartlog.vn/SVTrigger.svc" />
    <add key="SVWorkflow" value="http://server.smartlog.vn/SVWorkflow.svc" />
    <add key="SVMobile" value="http://server.smartlog.vn/SVMobile.svc" />-->

    
    <add key="SVExtend" value="http://192.168.1.251:8890/SVOther.svc" />
    <add key="SVDATA" value="http://localhost:1089/SVData.svc" />
    <add key="SVCATEGORY" value="http://localhost:1089/SVCategory.svc" />
    <add key="SVSYSTEM" value="http://localhost:1089/SVSystem.svc" />
    <add key="SVOPERATION" value="http://localhost:1089/SVOperation.svc" />
    <add key="SVORDER" value="http://localhost:1089/SVOrder.svc" />
    <add key="SVFLEETMANAGE" value="http://localhost:1089/SVFleetManage.svc" />
    <add key="SVKPI" value="http://localhost:1089/SVKPI.svc" />
    <add key="SVCUSTOMER" value="http://localhost:1089/SVCustomer.svc" />
    <add key="SVVENDOR" value="http://localhost:1089/SVVendor.svc" />
    <add key="SVFINANCE" value="http://localhost:1089/SVFinance.svc" />
    <add key="SVMONITOR" value="http://localhost:1089/SVMonitor.svc" />
    <add key="SVPODSTR" value="http://localhost:1089/SVPOD.svc" />
    <add key="SVREPORT" value="http://localhost:1089/SVReport.svc" />
    <add key="SVACTIVE" value="http://localhost:1089/SVActive.svc" />
    <add key="SVTRIGGER" value="http://localhost:1089/SVTrigger.svc" />
    <add key="SVWORKFLOW" value="http://localhost:1089/SVWorkflow.svc" />
    <add key="SVMOBILE" value="http://localhost:1089/SVMobile.svc" />

  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2000000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="120" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="aspnetdbcon" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RolesProvider">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add applicationName="/" connectionStringName="aspnetdbcon" name="RolesProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Telerik.Reporting, Version=9.0.15.225, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="Telerik.Reporting.Services.WebApi, Version=9.0.15.225, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2097152" />
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <log4net debug="false">
    <appender name="sql-appender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="2" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=tmsdemo.smartlog.vn;Initial Catalog=tms_demo_membership;uid=tms_demo;pwd=123456789;Connection Timeout=30" />
      <commandText value="INSERT INTO [Log4net]([Date], [Level], [Message], [Exception], [UserName], [Devicekey], [Address]) VALUES(@date, @level, @message, @exception, @username, @devicekey, @address)" />
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@username" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{username}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@devicekey" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{devicekey}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@address" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{address}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="sql-appender" />
    </root>
  </log4net>
</configuration>