
@{
    ViewBag.Title = "Error";
}
<div class="row">
    <ol class="breadcrumb" style="font-size:16px;color:black">
        <li><a href="/Pn/#/DASH_Index"><i class="fa fa-home"></i></a></li>        
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default cus-grid" style="border:none;margin-top:5px">
            <div class="panel-body">
                <h2>Tài khoản của bạn không có quyền truy xuất khu vực này</h2>
            </div>
        </div>
    </div>
</div>


