<div class="cus-form">
    <div class="form-header">
        <div class="left title">Danh sách MOQ</div>
        <div class="right">
            <a href="/" ng-click="price_MOQ_AddNew_Click($event,price_MOQ_Edit_win,priceMOQ_vform)" ng-show="!ItemPriceMOQ.TermClosed" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới MOQ</span></a>
            <a href="/" ng-click="Back_Click($event)" class="k-button"><i class="fa fa-undo"></i><span class="tooltip is-right">Thoát</span></a>
        </div>
    </div>
    <div class="form-body">
        <div class="cus-grid" kendo-grid="price_MOQ_grid" expand-k-grid k-options="price_MOQ_grid_Options"></div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_Edit_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Chi tiết MOQ</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div style="position:relative;height:100%">
                <div class="cus-tabstrip" kendo-tabstrip="price_MOQ_tabstrip" k-options="price_MOQ_tabstripOptions" expand-k-tabstrip>
                    <ul>
                        <li data-tabindex="0" class="k-state-active">Thông tin chung</li>
                        <li data-tabindex="1" ng-show="ItemPriceMOQ.ID>0">Loại địa điểm</li>
                        <li data-tabindex="2" ng-show="ItemPriceMOQ.ID>0">Nhóm sản phẩm</li>
                        <li data-tabindex="3" ng-show="ItemPriceMOQ.ID>0">Địa điểm</li>
                        <li data-tabindex="4" ng-show="ItemPriceMOQ.ID>0">Cung đường</li>
                        <li data-tabindex="5" ng-show="ItemPriceMOQ.ID>0">Area</li>
                        <li data-tabindex="6" ng-show="ItemPriceMOQ.ID>0">Đối tác</li>
                        <li data-tabindex="7" ng-show="ItemPriceMOQ.ID>0">Tỉnh thành</li>
                    </ul>
                    <div>
                        <div class="cus-form">
                            <div class="form-body">
                                <div class="form-content-150" v-form="priceMOQ_vform">
                                    <div class="rowinput">
                                        <label style="width:180px;">Tên MOQ<span class="required">*</span></label>
                                        <div style="width:calc( 100% - 185px )">
                                            <input type="text" class="k-textbox" ng-model="ItemPriceMOQ.MOQName" v-form-require="true" v-form-length="200" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Loại tính tổng<span class="required">*</span></label>
                                        <div style="width:calc( 100% - 185px )">
                                            <input class="cus-combobox" kendo-combobox focus-k-combobox k-options="cboTypeDIMOQSum_Options" ng-model="ItemPriceMOQ.DIMOQSumID" v-form-require="true" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Loại phụ thu<span class="required">*</span></label>
                                        <div style="width:calc( 100% - 185px )">
                                            <input class="cus-combobox" kendo-combobox focus-k-combobox k-options="cboTypePrice_Options" ng-model="ItemPriceMOQ.TypeOfPriceDIExID" v-form-require="true" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức kiểm tra(ExprInput)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprInput')" class="k-button  Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprInput" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức khối(ExprCBM)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprCBM')" class="k-button  Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprCBM" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức tấn(ExprTon)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprTon')" class="k-button  Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprTon" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức số lượng(ExprQuan)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprQuan')" class="k-button  Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprQuan" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức đơn giá(ExprPrice)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprPrice')" class="k-button Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprPrice" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label style="width:180px;">Công thức cố định(ExprPriceFix)</label>
                                        <div style="width:calc( 100% - 185px )">
                                            <a href="/" ng-click="Btn_Expr_Click($event,Btn_Expr_win,'ExprPriceFix')" class="k-button  Expr-btn">Thiết lập</a>
                                            <input type="text" class="k-textbox Expr-input" ng-model="ItemPriceMOQ.ExprPriceFix" ng-disabled="ItemPriceMOQ.TermClosed" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceMOQ_GroupLocation_Grid" expand-k-grid k-options="priceMOQ_GroupLocation_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceMOQ_GroupProduct_Grid" expand-k-grid k-options="priceMOQ_GroupProduct_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceMOQ_Location_Grid" expand-k-grid k-options="priceMOQ_Location_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceMOQ_Route_Grid" expand-k-grid k-options="priceMOQ_Route_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceMOQ_ParentRoute_Grid" expand-k-grid k-options="priceMOQ_ParentRoute_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceEx_Parent_Grid" expand-k-grid k-options="priceEx_Parent_GridOptions"></div>
                        </div>
                    </div>
                    <div>
                        <div class="cus-form">
                            <div class="cus-grid" kendo-grid="priceEx_Province_Grid" expand-k-grid k-options="priceEx_Province_GridOptions"></div>
                        </div>
                    </div>
                 </div>
                <div class="tabstrip-buttons">
                    <!--Info-->
                    <a href="/" ng-show="TabIndex==0 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_SaveInfo_Click($event,priceMOQ_vform)" class="k-button"><i class="fa fa-floppy-o"></i><span class="tooltip is-right">Cập nhật</span></a>
                    
                    <!--Group Location-->
                    <a href="/" ng-show="TabIndex==1 && GLMOQHasChoose && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_GroupLocation_Delete($event,priceMOQ_GroupLocation_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==1 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_GroupLocation_AddNew($event,price_MOQ_GroupNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>

                    <!--Group Product-->
                    <a href="/" ng-show="TabIndex==2 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_GroupProduct_AddNew($event,price_MOQ_GroupProduct_win,priceMOQGOP_vform)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>

                    <!--Location-->
                    <a href="/" ng-show="TabIndex==3 && MOQLocationHasChoose && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_Location_Delete($event,priceMOQ_Location_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==3 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_Location_AddNew($event,price_MOQ_LocationNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>

                    <!--Route-->
                    <a href="/" ng-show="TabIndex==4 && MOQRouteHasChoose && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_Route_Delete($event,priceMOQ_Route_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==4 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_Route_AddNew($event,price_MOQ_RouteNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>

                    <!--ParentRoute-->
                    <a href="/" ng-show="TabIndex==5 && MOQParentRouteHasChoose && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_ParentRoute_Delete($event,priceMOQ_ParentRoute_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==5 && !ItemPriceMOQ.TermClosed" ng-click="priceMOQ_ParentRoute_AddNew($event,price_MOQ_ParentRouteNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>
                
                    <!--Parent-->
                    <a href="/" ng-show="TabIndex==6 && ParentHasChoose " ng-click="priceEx_Parent_Delete($event,priceEx_Parent_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==6 " ng-click="priceEx_Parent_AddNew($event,price_ex_ParentNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>
                    <!--Province-->
                    <a href="/" ng-show="TabIndex==7 && ProvinceHasChoose " ng-click="priceEx_Province_Delete($event,priceEx_Province_Grid)" class="k-button"><i class="fa fa-trash"></i><span class="tooltip ">Xóa</span></a>
                    <a href="/" ng-show="TabIndex==7 " ng-click="priceEx_Province_AddNew($event,price_ex_ProvinceNotIn_win)" class="k-button"><i class="fa fa-plus"></i><span class="tooltip is-right">Thêm mới</span></a>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_Edit_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>



<div class="cus-window" draggable-k-window kendo-window="Btn_Expr_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Thiết lập công thức</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="form-content-150">
                <div class="rowinput">
                    <label>{{Expr_current}}</label>
                    <div>
                        <textarea ng-model="EXpr_Content" style="height: 150px;" class="ng-pristine ng-valid ng-empty ng-touched"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="rowinput">
                    <label>Ghi chú: </label>
                    <div ng-show="show_Note == '305'" style="padding-top:10px;">
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonTransfer] - Tấn chở<br />
                            [CBMTransfer] - Khối chở<br />
                            [QuantityTransfer] - SL chở<br />
                            [TonReturn] - Tấn trả về<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [CBMReturn] - Khối trả về<br />
                            [QuantityReturn] - SL trả về<br />
                            [TotalSchedule] - Tổng chuyến<br />
                            [Credit] - Doanh thu<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [DropPoint] - Số điểm giao<br />
                            [GetPoint] - Số điểm nhận<br />
                            [GOVCodeOrder] - Mã loại xe đơn hàng<br />
                        </div>
                    </div>
                    <div ng-show="show_Note == '306' || show_Note == '307'" style="padding-top:10px;">
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonTransfer] - Tấn chở<br />
                            [CBMTransfer] - Khối chở<br />
                            [QuantityTransfer] - SL chở<br />
                            [TonReturn] - Tấn trả về<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [CBMReturn] - Khối trả về<br />
                            [QuantityReturn] - SL trả về<br />
                            [TotalSchedule] - Tổng chuyến<br />
                            [UnitPrice] - Đơn giá<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [UnitPriceMax] - Đơn giá max<br />
                            [UnitPriceMin] - Đơn giá min<br />
                            [TotalOrder] - Tổng số đơn hàng<br />
                        </div>
                    </div>
                    <div ng-show="show_Note == '309'" style="padding-top:10px;">
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonTransfer] - Tấn chở<br />
                            [CBMTransfer] - Khối chở<br />
                            [QuantityTransfer] - SL chở<br />
                          
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonReturn] - Tấn trả về<br />
                            [CBMReturn] - Khối trả về<br />
                            [QuantityReturn] - SL trả về<br />
                          
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TotalSchedule] - Tổng chuyến<br />
                            [VehicleCode] - Số xe<br />
                        </div>
                    </div>
                    <div ng-show="show_Note == '308' || show_Note == '310'" style="padding-top:10px;">
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonTransfer] - Tấn chở<br />
                            [CBMTransfer] - Khối chở<br />
                            [QuantityTransfer] - SL chở<br />
                            [TonReturn] - Tấn trả về<br />
                            [CBMReturn] - Khối trả về<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [QuantityReturn] - SL trả về<br />
                            [TotalSchedule] - Tổng chuyến<br />
                            [Credit] - Doanh thu<br />
                            [DropPoint] - Số điểm giao<br />
                            [GetPoint] - Số điểm nhận<br />
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [UnitPriceMax] - Đơn giá max<br />
                            [UnitPriceMin] - Đơn giá min<br />
                            [TonMOQ] - Số tấn (hàng hóa tính theo tấn)<br />
                            [CBMMOQ] - Số khối (hàng hóa tính theo khối)<br />
                        </div>
                    </div>
                    <div ng-show="show_Note == '311' || show_Note == '312'" style="padding-top:10px;">
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [TonTransfer] - Tấn chở<br />
                            [CBMTransfer] - Khối chở<br />
                            [QuantityTransfer] - SL chở<br />
                            [TonReturn] - Tấn trả về<br />
                           
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [CBMReturn] - Khối trả về<br />
                            [QuantityReturn] - SL trả về<br />
                            [TotalSchedule] - Tổng chuyến<br />
                            [UnitPrice] - Đơn giá<br />
                            
                        </div>
                        <div style="width: calc( 100% / 3 - 10px ); float:left">
                            [UnitPriceMax] - Đơn giá max<br />
                            [UnitPriceMin] - Đơn giá min<br />
                            [Credit] - Doanh thu<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="Btn_Expr_Save_Click($event,Btn_Expr_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_GroupNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Loại địa điểm chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_MOQ_GroupNotIn_Grid" expand-k-grid k-options="price_MOQ_GroupNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_GroupNotIn_Save_Click($event,price_MOQ_GroupNotIn_win,price_MOQ_GroupNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_GroupNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>


<div class="cus-window" draggable-k-window kendo-window="price_MOQ_GroupProduct_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">MOQ nhóm sản phẩm</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="form-content-150" v-form="priceMOQGOP_vform">
                <div class="rowinput">
                    <label>Nhóm sản phẩm<span class="required">*</span></label>
                    <div>
                        <input class="cus-combobox" kendo-combobox focus-k-combobox k-options="cboMOQGroupOfProduct_Options" ng-model="ItemPriceMOQGOP.GroupOfProductID" v-form-require="true" />
                    </div>
                    <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>ExprPrice</label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="ItemPriceMOQGOP.ExprPrice" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>ExprQuantity</label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="ItemPriceMOQGOP.ExprQuantity" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_GOP_Save_Click($event,price_MOQ_GroupProduct_win,priceMOQGOP_vform)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_GroupProduct_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_LocationNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Địa điểm chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_MOQ_LocationNotIn_Grid" expand-k-grid k-options="price_MOQ_LocationNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_LocationNotIn_Save_Click($event,price_MOQ_LocationNotIn_win,price_MOQ_LocationNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_LocationNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_Location_win" k-title="false" k-width="500" k-height="300" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Địa điểm</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="form-content-150">
                <div class="rowinput">
                    <label>Mã địa điểm</label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="ItemPriceMOQLocation.LocationCode" ng-disabled="true"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>Tên địa điểm</label>
                    <div>
                        <input type="text" class="k-textbox" ng-model="ItemPriceMOQLocation.LocationName" ng-disabled="true" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rowinput">
                    <label>Loại</label>
                    <div>
                        <input class="cus-combobox" kendo-combobox focus-k-combobox k-options="cboMOQTypeOfTOLocation_Options" ng-model="ItemPriceMOQLocation.TypeOfTOLocationID" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_Location_Save_Click($event,price_MOQ_Location_win)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_Location_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_RouteNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Cung đường chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_MOQ_RouteNotIn_Grid" expand-k-grid k-options="price_MOQ_RouteNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_RouteNotIn_Save_Click($event,price_MOQ_RouteNotIn_win,price_MOQ_RouteNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_RouteNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_MOQ_ParentRouteNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Cung đường chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_MOQ_ParentRouteNotIn_Grid" expand-k-grid k-options="price_MOQ_ParentRouteNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_MOQ_ParentRouteNotIn_Save_Click($event,price_MOQ_ParentRouteNotIn_win,price_MOQ_ParentRouteNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_MOQ_ParentRouteNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_ex_ParentNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Đối tác chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_ex_ParentNotIn_Grid" expand-k-grid k-options="price_ex_ParentNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_exParent_NotIn_Save_Click($event,price_ex_ParentNotIn_win,price_ex_ParentNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_ex_ParentNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div class="cus-window" draggable-k-window kendo-window="price_ex_ProvinceNotIn_win" k-title="false" k-width="900" k-height="500" k-visible="false" k-resizable="false" k-modal="true">
    <div class="cus-form">
        <div class="form-header">
            <div class="left title">Tỉnh thành chưa chọn</div>
            <div class="right button"></div>
            <div class="clear"></div>
        </div>
        <div class="form-body with-footer">
            <div class="cus-grid" kendo-grid="price_ex_ProvinceNotIn_Grid" expand-k-grid k-options="price_ex_ProvinceNotIn_GridOptions"></div>
        </div>
        <div class="form-footer">
            <div>
                <a href="/" ng-click="price_exProvince_NotIn_Save_Click($event,price_ex_ProvinceNotIn_win,price_ex_ProvinceNotIn_Grid)" class="k-button accept">Lưu</a>
                <a href="/" ng-click="window_Close_Click($event,price_ex_ProvinceNotIn_win)" class="k-button close">Đóng</a>
            </div>
        </div>
    </div>
</div>