<div class="cus-form">
    <div class="form-header" style="margin-top:15px;">
        <div class="left">
            <ul class="breakumb">
                <li><a ng-click="Return_View($event)">Điều chỉnh thông tin tài khoản</a></li>
                <li><i class="fa fa-circle"></i><span>Thay đổi mật khẩu</span></li>
            </ul>
        </div>
        <div class="right button">
            <a href="/" ng-click="Close_Click($event)" class="k-button"><i class="fa fa-ban"></i><span class="tooltip is-right">Đóng</span></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-body">
        <div class="cus-form">
            <div class="form-body">
                <div class="SYSUser_Form">
                    <div class="SYSUser_Top">
                        <div class="SYSUser_Right changepass">
                            <div class="form-content-70">
                                <div v-form="UserProfile_vform">
                                    <div class="rowinput">
                                        <label>Mật khẩu cũ</label>
                                        <div>
                                            <input type="password" class="k-textbox" maxlength="50" ng-model="Item.Password" v-form-require="true" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label>Nhập mật khẩu mới</label>
                                        <div>
                                            <input type="password" class="k-textbox" maxlength="50" ng-model="Item.NewPassword" v-form-require="true" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput">
                                        <label>Nhập lại mật khâu mới</label>
                                        <div>
                                            <input type="password" class="k-textbox" maxlength="50" ng-model="Item.ReNewPassword" v-form-require="true" />
                                        </div>
                                        <div class="error"><a kendo-tooltip><i class="fa fa-info-circle"></i></a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="rowinput rowaction">
                                        <div>
                                            <a href="/" ng-click="Return_Data($event)" class="k-button">Làm lại</a>
                                            <a href="/" ng-click="Save_Click($event,UserProfile_vform)" class="k-button accept">Lưa mật khẩu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .SYSUser_Right {
        width: -moz-calc(100% - 30%);
        width: -webkit-calc(100% - 30%);
        width: -o-calc(100% - 30%);
        width: calc(100% - 30%);
        float: right;
        padding-top: 20px;
    }

    .label-change {
        display: block;
    }

    .SYSUser_Right .rowinput label {
        color: #43474E;
        font-size: 14px;
    }

    .SYSUser_Right .rowinput div input {
        height: 38px;
        background: #fff;
        border: 1px solid #CFDDEF;
    }

    .SYSUser_Right .rowinput div {
        margin-bottom: 6px;
    }

    .SYSUser_Right.changepass .rowaction div {
        width: calc(56% - 1px) !important;
        text-align: right;
    }

    .SYSUser_Right.changepass .rowinput label {
        width: calc(16% - 7px);
        margin-top: 4px;
    }

    .SYSUser_Right .rowinput div {
        width: 40%;
    }

    .SYSUser_Right .rowinput.rowaction a {
        font-size: 14px;
    }

        .SYSUser_Right .rowinput.rowaction a.k-button.accept {
            line-height: 25px;
            padding: 8px 20px;
            border: none;
        }

        .SYSUser_Right .rowinput.rowaction a.k-button {
            line-height: 25px;
            padding: 7px 25px;
            border: 1px solid #6D6C6C;
        }

    .SYSUser_Right .rowinput .change-pass {
        width: 40%;
    }

    .SYSUser_Right .rowinput {
        float: left;
        width: 100%;
        position: static;
        height: auto;
        margin-top: 0px;
    }

    .SYSUser_Right .rowinput .change-pass a {
        text-decoration: none;
        color: #F75252;
        cursor: pointer;
     }

    ul.breakumb > li:first-child {
        display: block;
        cursor: pointer;
    }

    ul.breakumb > li:last-child i {
        color: #31b6fc;
        font-size: 6px;
        padding-right: 5px;
        vertical-align: middle;
    }

    @media all and (max-width: 900px) {
        .SYSUser_Right.changepass .rowinput label {
            width: 100%;
            text-align: left;
        }

        .SYSUser_Right .rowinput div {
            width: 100%;
        }

        .label-change {
            display: none;
        }

        .SYSUser_Right.changepass .rowaction div {
            width: 100% !important;
        }
    }
</style>